[2018-04-02 11:31] yegor256 opened #1 "prototype"

[2018-04-02 13:34] g4s8 opened #2 "HTTP/2 support"
Does cactoos-http designed to support `HTTP/2` protocol? If yes how does it share sockets (or clients) across requests?

[2018-04-03 10:42] yegor256 commented on #2
@g4s8 that's a good question. Yes, we should support HTTP/2. Let's think how to do that right.

[2018-04-03 11:00] yegor256 commented on #1
@rultor release, tag is `0.0.1`

[2018-04-03 11:01] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14239-378210917)

[2018-04-03 11:12] rultor commented on #1
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14239-378210917) (took me 11min)

[2018-04-03 11:13] #1 closed

[2018-04-03 11:13] 0crat commented on #1
I'm not managing `yegor256/cactoos-http` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2018-04-04 12:17] 0pdd opened #3 "HtBody.java:39-44: The implementation of method stream()..."
The puzzle `1-94e51014` from #1 has to be resolved:

https://github.com/yegor256/cactoos-http/blob/d73f4daa73a68e84cf8fcd3b4bcae00ae017f7fd/src/main/java/org/cactoos/http/HtBody.java#L39-L44

The puzzle was created by Yegor Bugayenko on 04-Apr-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the probl

[2018-04-04 12:20] 0pdd opened #4 "HtHead.java:39-43: The implementation of method stream()..."
The puzzle `1-97d18cdb` from #1 has to be resolved:

https://github.com/yegor256/cactoos-http/blob/b564a4c33537f0388ca7783f7483bc561146fdf4/src/main/java/org/cactoos/http/HtHead.java#L39-L43

The puzzle was created by Yegor Bugayenko on 04-Apr-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the probl

[2018-04-04 12:22] 0pdd opened #5 "HtStatus.java:37-40: The implementation here is not..."
The puzzle `1-6a67a5c8` from #1 has to be resolved:

https://github.com/yegor256/cactoos-http/blob/c677dd9f66707b0aa8d5fabbc33cce80bf846d1e/src/test/java/org/cactoos/http/HtStatus.java#L37-L40

The puzzle was created by Yegor Bugayenko on 04-Apr-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the pro

[2018-04-04 12:26] 0crat commented on #4
The job [#4](https://github.com/yegor256/cactoos-http/issues/4) assigned to @vssekorin[/z](https://www.0crat.com/u/vssekorin), here is [why](https://www.0crat.com/footprint/C63314D6Z/941258300); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cl

[2018-04-04 12:29] 0crat commented on #5
The job [#5](https://github.com/yegor256/cactoos-http/issues/5) assigned to @vssekorin[/z](https://www.0crat.com/u/vssekorin), here is [why](https://www.0crat.com/footprint/C63314D6Z/941260377); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cl

[2018-04-04 12:36] yegor256 opened #6 "HtAutoRedirect"
Let's create `HtAutoRedirect`, which will encapsulate `HtResponse` and make another request if its status code is 30x:

[code]

[2018-04-04 12:38] yegor256 opened #7 "HtSecureWire"
Let's implement SSL based `Wire`, to support `https`.

[2018-04-04 12:39] 0crat commented on #7
Job [#7](https://github.com/yegor256/cactoos-http/issues/7) is now in scope, role is `DEV`

[2018-04-04 12:40] 0crat commented on #6
Job [#6](https://github.com/yegor256/cactoos-http/issues/6) is now in scope, role is `DEV`

[2018-04-04 12:41] 0crat commented on #7
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-04-04 12:41] 0crat commented on #6
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-04-04 12:43] yegor256 opened #8 "HtCookies"
Let's create class `HtCookies` (implements `Map<String,String>`) to read cookies from HTTP response:

[code]

[2018-04-04 12:45] 0crat commented on #8
Job [#8](https://github.com/yegor256/cactoos-http/issues/8) is now in scope, role is `DEV`

[2018-04-04 12:46] yegor256 opened #9 "HtContentType"
Let's create a reader of response `content-type`:

[code]

[2018-04-04 12:47] 0crat commented on #7
The job [#7](https://github.com/yegor256/cactoos-http/issues/7) assigned to @vatavuk[/z](https://www.0crat.com/u/vatavuk), here is [why](https://www.0crat.com/footprint/C63314D6Z/941276745); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-04-04 12:47] yegor256 opened #10 "HtTimedWire"
Let's create a `Wire` decorator, which will terminate the connection if it's taking too long.

[2018-04-04 12:48] yegor256 opened #11 "HtRetryWire"
Let's create a new `Wire` decorator which will retry to make a connection a few times.

[2018-04-04 12:48] 0crat commented on #8
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-04-04 12:49] 0crat commented on #9
Job [#9](https://github.com/yegor256/cactoos-http/issues/9) is now in scope, role is `DEV`

[2018-04-04 12:49] 0crat commented on #10
Job [#10](https://github.com/yegor256/cactoos-http/issues/10) is now in scope, role is `DEV`

[2018-04-04 12:50] 0crat commented on #11
Job [#11](https://github.com/yegor256/cactoos-http/issues/11) is now in scope, role is `DEV`

[2018-04-04 12:51] 0crat commented on #9
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-04-04 12:53] 0crat commented on #10
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-04-04 12:53] 0crat commented on #11
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-04-04 12:57] 0crat commented on #6
The job [#6](https://github.com/yegor256/cactoos-http/issues/6) assigned to @vatavuk[/z](https://www.0crat.com/u/vatavuk), here is [why](https://www.0crat.com/footprint/C63314D6Z/941289049); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-04-04 13:04] 0crat commented on #8
The job [#8](https://github.com/yegor256/cactoos-http/issues/8) assigned to @vssekorin[/z](https://www.0crat.com/u/vssekorin), here is [why](https://www.0crat.com/footprint/C63314D6Z/941335176); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cl

[2018-04-04 13:05] 0crat commented on #8
Job `gh:yegor256/cactoos-http#8` already assigned to @vssekorin, can't assign to @vssekorin

[2018-04-04 13:54] VsSekorin opened #13 "HtStatus location"
`HtStatus` is in _test_. It should be moved to _src_.

[2018-04-04 13:54] 0crat commented on #13
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-04 13:57] VsSekorin opened #14 "HtResponse checkstyle AvoidInlineConditionalsCheck"
`Checkstyle: src/main/java/org/cactoos/http/HtResponse.java[71]: Avoid inline conditionals. (AvoidInlineConditionalsCheck)`

[2018-04-04 13:57] 0crat commented on #14
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-04 13:57] VsSekorin opened #15 "HttpResponse PMD.AvoidDuplicateLiterals"
`/src/test/java/org/cactoos/http/HtResponseTest.java[60-60]: The String literal "HTTP/1.1 200 OK" appears 2 times in this file; the first occurrence is on line 60 (AvoidDuplicateLiterals)`

[2018-04-04 13:57] 0crat commented on #15
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-04 15:40] VsSekorin commented on #5
@0crat wait codereview #12

[2018-04-04 15:40] 0crat commented on #5
@VsSekorin The impediment for [#5](https://github.com/yegor256/cactoos-http/issues/5) was registered successfully by @vssekorin[/z](https://www.0crat.com/u/vssekorin)

[2018-04-04 16:41] yegor256 commented on #15
@VsSekorin thanks, fixed

[2018-04-04 16:41] #15 closed

[2018-04-04 16:41] yegor256 commented on #14
@VsSekorin thanks, fixed

[2018-04-04 16:41] #14 closed

[2018-04-04 16:43] yegor256 commented on #13
@VsSekorin fixed, thanks!

[2018-04-04 16:43] #13 closed

[2018-04-04 16:50] VsSekorin opened #16 "IllegalArgumentException: port is -1"
[code]

Example: `new HtHead(new HtResponse("http://www.google.com")).stream();`

[2018-04-04 16:50] 0crat commented on #16
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-04 16:58] 0crat commented on #15
The job is not in WBS, won't close the order

[2018-04-04 16:58] 0crat commented on #14
The job is not in WBS, won't close the order

[2018-04-04 16:58] 0crat commented on #13
The job is not in WBS, won't close the order

[2018-04-04 17:00] 0crat commented on #16
Job [#16](https://github.com/yegor256/cactoos-http/issues/16) is now in scope, role is `DEV`

[2018-04-04 17:02] 0crat commented on #16
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @vssekorin[/z](https://www.0crat.com/u/vssekorin)

[2018-04-04 17:37] 0crat commented on #9
The job [#9](https://github.com/yegor256/cactoos-http/issues/9) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/941738160); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-04-04 17:40] 0crat commented on #10
The job [#10](https://github.com/yegor256/cactoos-http/issues/10) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/941740240); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-04-04 17:43] 0crat commented on #11
The job [#11](https://github.com/yegor256/cactoos-http/issues/11) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/941743309); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-04-04 18:03] victornoel commented on #9
@yegor256 do we consider that no `content-type` present means `HtContentType` returns an empty `String `?

[2018-04-04 19:13] g4s8 opened #19 "Auto-detect host wire"
It's not very convenient to write a host two times (first in wire, second in request):
[code]
I think a wire should be able to read host value from request `Host` header:
[code]

[2018-04-04 19:13] 0crat commented on #19
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-04 19:13] 0crat commented on #19
@g4s8[/z](https://www.0crat.com/u/g4s8) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-04 19:20] g4s8 opened #20 "Keep-alive header is not supported"
`Connection: keep-alive` is not supported by wire, client should not close a connection in this case. Also `Keep-alive` response header should be properly handled by this wire, see https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Keep-Alive

[2018-04-04 19:23] g4s8 opened #21 "Simple requests"
I think there should be some simple request objects, like:
[code]

[2018-04-04 19:28] g4s8 opened #22 "Websockets support"
Does cactoos-http supports websockets protocol?

[2018-04-04 19:28] 0crat commented on #22
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-04 19:28] 0crat commented on #22
@g4s8[/z](https://www.0crat.com/u/g4s8) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-04 19:32] g4s8 opened #23 "Upgrade mechanism"
The wire should be able to upgrade connection on `101` status code, e.g. this head
[code]
should switch the wire to https protocol.

[2018-04-04 19:32] 0crat commented on #23
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-04 19:32] 0crat commented on #23
@g4s8[/z](https://www.0crat.com/u/g4s8) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-05 04:59] 0crat commented on #23
Job [#23](https://github.com/yegor256/cactoos-http/issues/23) is now in scope, role is `DEV`

[2018-04-05 05:00] 0crat commented on #23
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-04-05 05:02] yegor256 commented on #19
@g4s8 we can make something like `HtAutoHostedWire`, which will add `Host` HTTP header automatically if it is not present in the request. Make sense?

[2018-04-05 05:02] 0crat commented on #16
The job [#16](https://github.com/yegor256/cactoos-http/issues/16) assigned to @icok[/z](https://www.0crat.com/u/icok), here is [why](https://www.0crat.com/footprint/C63314D6Z/950519655); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-04-05 05:04] 0crat commented on #23
The job [#23](https://github.com/yegor256/cactoos-http/issues/23) assigned to @icok[/z](https://www.0crat.com/u/icok), here is [why](https://www.0crat.com/footprint/C63314D6Z/950522744); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-04-07 10:40] victornoel commented on #10
@0crat wait
I need yegor256/cactoos#761 to do this.

[2018-04-07 10:41] 0crat commented on #10
@victornoel The impediment for [#10](https://github.com/yegor256/cactoos-http/issues/10) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-04-09 13:15] 0crat commented on #3
@flslkxtc[/z](https://www.0crat.com/u/flslkxtc) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-09 13:15] 0crat commented on #7
@vatavuk[/z](https://www.0crat.com/u/vatavuk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-09 13:15] 0crat commented on #6
@vatavuk[/z](https://www.0crat.com/u/vatavuk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-09 13:20] VsSekorin opened #28 "LimitedInputStream"
We need `LimitedInputSteam` that get bytes until some specific bytes.

- `public BoundedInputStream(final InputStream stream, final Bytes limiter)`
- `public BoundedInputStream(final InputStream stream, final byte[] limiter)`

For example, this can be useful for #4
Example:
[code]

[2018-04-09 14:16] yegor256 commented on #28
@VsSekorin any other places where it will be used aside from `Head`?

[2018-04-09 14:30] VsSekorin commented on #28
@yegor256 `HtStatus`, for example.

[2018-04-09 14:42] yegor256 commented on #28
@VsSekorin maybe it's better to just create `Head`, which do this work. And in `HtStatus` just read the entire content, convert to String and then `split()` and take the first line?

[2018-04-09 15:01] VsSekorin commented on #28
Yes, and similar solutions can be found in #12 #24 . But these are similar problems that can be solved in different ways.

[2018-04-12 01:36] 0crat commented on #9
@victornoel[/z](https://www.0crat.com/u/victornoel) this job was assigned to you 7days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-12 01:36] 0crat commented on #11
@victornoel[/z](https://www.0crat.com/u/victornoel) this job was assigned to you 7days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-12 03:36] 0crat commented on #16
@icok[/z](https://www.0crat.com/u/icok) this job was assigned to you 7days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-12 03:36] 0crat commented on #23
@icok[/z](https://www.0crat.com/u/icok) this job was assigned to you 7days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-14 17:49] 0crat commented on #9
The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#9](https://github.com/yegor256/cactoos-http/issues/9), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-04-14 17:49] 0crat commented on #9
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-04-14 17:50] 0crat commented on #9
Job `gh:yegor256/cactoos-http#9` is not assigned, can't get performer

[2018-04-14 17:51] 0crat commented on #9
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-04-14 17:54] victornoel commented on #9
@yegor256 I was waiting for #18 to be merged and forgot to tell @0crat to wait, is there anything I can do?

[2018-04-14 17:54] 0crat commented on #9
Are you speaking to me or about me [here](https://github.com/yegor256/cactoos-http/issues/9#issuecomment-381347549); you must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1)

[2018-04-14 17:57] 0crat commented on #11
The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#11](https://github.com/yegor256/cactoos-http/issues/11), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-04-14 17:58] 0crat commented on #11
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-04-14 18:05] victornoel commented on #11
@yegor256 could we undo this? #27  is the PR that solves this ticket.

[2018-04-14 18:06] 0crat commented on #3
The job [#3](https://github.com/yegor256/cactoos-http/issues/3) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/1041805967); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-04-14 18:30] victornoel commented on #3
Reminder to myself: check #24 and #4 which have the same problem

[2018-04-14 18:42] victornoel opened #29 "Replace HtBody, HtStatus and HtHead with a unique object for the whole HTTP message"
This is just an idea, but looking at #3 or #4, I can see that an HTTP message is meant to be a whole stream.

What if we had an object, `HtMessage`, that provides `head()`, `body()` and so on to take care of this fact? It would solve the performance problems that seem to be clearly interrelated as well as make things clearer about the reality of what an HTTP message is.

[2018-04-14 18:42] 0crat commented on #29
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-15 06:07] 0crat commented on #16
The user @icok[/z](https://www.0crat.com/u/icok) resigned from [#16](https://github.com/yegor256/cactoos-http/issues/16), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-04-15 06:07] 0crat commented on #16
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @icok[/z](https://www.0crat.com/u/icok)

[2018-04-15 06:07] 0crat commented on #23
The user @icok[/z](https://www.0crat.com/u/icok) resigned from [#23](https://github.com/yegor256/cactoos-http/issues/23), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-04-15 06:07] 0crat commented on #23
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @icok[/z](https://www.0crat.com/u/icok)

[2018-04-16 14:34] yegor256 commented on #11
@0crat assign @victornoel

[2018-04-16 14:37] 0crat commented on #11
@yegor256 The job [#11](https://github.com/yegor256/cactoos-http/issues/11) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/1061439204); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2018-04-16 14:37] 0crat commented on #11
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-04-16 14:45] victornoel commented on #11
@0crat wait for #27 to be reviewed/merged

[2018-04-16 14:45] 0crat commented on #11
@victornoel The impediment for [#11](https://github.com/yegor256/cactoos-http/issues/11) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-04-16 16:26] yegor256 commented on #9
@0crat hey

[2018-04-16 16:26] 0crat commented on #9
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-04-16 16:26] 0crat commented on #9
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-04-16 16:26] 0crat commented on #9
@yegor256 This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#9](https://github.com/yegor256/cactoos-http/issues/9) is [in scope](http://www.zerocracy.com/policy.html#14) for 12days
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is 30 minutes/points
  * These users are banned

[2018-04-16 16:27] 0crat commented on #9
@yegor256 Hey, what's up, how is it going?

[2018-04-17 15:49] yegor256 commented on #9
@0crat assign @victornoel

[2018-04-17 15:50] 0crat commented on #9
@yegor256 The job [#9](https://github.com/yegor256/cactoos-http/issues/9) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/1071550009); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the t

[2018-04-17 15:50] 0crat commented on #9
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-04-17 15:52] victornoel commented on #9
@0crat wait for #18 to be reviewed/merged

[2018-04-17 15:52] 0crat commented on #9
@victornoel The impediment for [#9](https://github.com/yegor256/cactoos-http/issues/9) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-04-19 15:49] 0crat commented on #16
The job [#16](https://github.com/yegor256/cactoos-http/issues/16) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C63314D6Z/1091548509); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-04-19 19:37] 0crat commented on #3
@victornoel[/z](https://www.0crat.com/u/victornoel) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-20 11:11] krzyk commented on #16
@0crat status

[2018-04-20 11:12] 0crat commented on #16
@krzyk This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#16](https://github.com/yegor256/cactoos-http/issues/16) is [in scope](http://www.zerocracy.com/policy.html#14) for 16days
  * The role is `DEV`
  * The job is assigned to @krzyk[/z](https://www.0crat.com/u/krzyk) for [19hr](http://www.zerocracy.com/policy.html#8)
  * There is a monetary

[2018-04-20 13:30] 0crat commented on #23
The job [#23](https://github.com/yegor256/cactoos-http/issues/23) assigned to @pbenety[/z](https://www.0crat.com/u/pbenety), here is [why](https://www.0crat.com/footprint/C63314D6Z/1101338419); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cle

[2018-04-20 14:44] victornoel commented on #3
@0crat waiting for #29

@yegor256 it's clearly an ARC job to redefine responsibilities of object, so I will need you to ensure this is going the right way, I don't see any sane way to implement HtBody, HtStatus and HtHead separately without lots of duplication, I would prefer to base the three of them on something that is more aware of the peculiarities of an http message.

[2018-04-20 14:45] 0crat commented on #3
@victornoel The impediment for [#3](https://github.com/yegor256/cactoos-http/issues/3) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-04-21 09:45] victornoel opened #31 "findbugs errors in current master"
While working on #9, running qulice gives me this error:
[code]

[2018-04-21 09:45] 0crat commented on #31
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-04-21 09:58] victornoel commented on #3
@llorllale sorry, you are the ARC now, see the comment above.

[2018-04-21 12:48] llorllale commented on #29
@victornoel I think your abstraction is too high, and is definitely not the direction this project is going/has gone so far. Why not just think in terms of the stream itself? What you need is something that will read the stream only up to a certain point.

WDYT?

[2018-04-21 12:48] llorllale commented on #3
@victornoel see my comment in #29

[2018-04-21 13:02] victornoel commented on #29
Agree, that's my main concern with my proposal

So `HtStatus` reads up to the separator between status and headers, HtHead reads up to the separator between headers and body and skip the status and `HtBody` skips status and header and gives back the rest.

So #28 is one aspect of the solution then and should be complemented with something that skips until a certain series of bytes? If you agree le

[2018-04-21 13:04] victornoel commented on #28
@VsSekorin see the discussion in #29. Also this issue should also include `LimitedInput` (which may be implemented with a `LimitedInputStream`) to keep the same pattern as the rest of the lib.

[2018-04-21 13:15] llorllale commented on #29
@victornoel no, let's go the same direction they went with in #28: `HtBody` will do the "skipping" on the stream. And then, in the future, if there is anything in particular to be extracted from a body, then it should operate off of `HtBody`'s stream.

[2018-04-21 13:35] 0crat commented on #29
The job is not in WBS, won't close the order

[2018-04-21 15:08] victornoel commented on #9
@yegor256 or @llorllale please close this issue, it has been solved by #18.

[2018-04-21 15:36] victornoel commented on #31
Actually this happens only from within Eclipse, I'm not clear why.

[2018-04-21 15:47] victornoel commented on #3
@0crat waiting for review of #32

[2018-04-21 15:47] 0crat commented on #3
@victornoel Job [#3](https://github.com/yegor256/cactoos-http/issues/3) is already on hold

[2018-04-21 17:28] 0pdd commented on #5
The puzzle `1-6a67a5c8` has disappeared from the source code, that's why I closed this issue.

[2018-04-21 17:28] #5 closed

[2018-04-21 17:28] 0pdd commented on #1
@yegor256 2 puzzles [#3](https://github.com/yegor256/cactoos-http/issues/3), [#4](https://github.com/yegor256/cactoos-http/issues/4) are still not solved; solved: [#5](https://github.com/yegor256/cactoos-http/issues/5).

[2018-04-21 17:44] 0crat commented on #5
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @vssekorin[/z](https://www.0crat.com/u/vssekorin), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-04-21 17:45] 0crat commented on #5
The job [#5](https://github.com/yegor256/cactoos-http/issues/5) is now out of scope

[2018-04-21 18:28] elenavolokhova commented on #5
@0crat quality good

[2018-04-21 18:33] 0crat commented on #5
Order was finished, quality is "good": +35 point(s) just awarded to @vssekorin[/z](https://www.0crat.com/u/vssekorin)

[2018-04-21 18:33] 0crat commented on #5
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-04-21 19:42] krzyk commented on #16
@VsSekorin Please see #30

[2018-04-23 13:12] strogiyotec opened #33 "Not correct example in Read.me"
In first example

String body = new TextOf(
  new HtBody(
    new HtResponse(
      "http://www.google.com",
      "GET / HTTP/1.1"
    )
  )
).asString();

This code is doesn't compile, as I understood it should be replaced to

String body = new TextOf(
  new HtBody(
    new HtResponse(
      new HtWire("http://www.google.com"),
      "GET / HTTP/1.1"
    )
  )
).asString();

[2018-04-23 13:12] 0crat commented on #33
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-04-23 13:12] 0crat commented on #33
@strogiyotec[/z](https://www.0crat.com/u/strogiyotec) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-23 15:28] llorllale commented on #33
@strogiyotec fixed in a7f2fd21c2f0a5fe2f6aaab06855b0d7474dbfb3

[2018-04-23 15:28] #33 closed

[2018-04-23 15:29] 0crat commented on #33
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-04-23 15:44] 0crat commented on #33
The job is not in WBS, won't close the order

[2018-04-23 16:44] 0crat commented on #33
The job is not in WBS, won't close the order

[2018-04-23 16:56] krzyk opened #34 "Inefficient use of regexps"
Following classes: `HtBody`, `HtHead`, `HtHeaders` and `HtStatus` are using `String.split()` which compiles the new line/double new line patterns multiple times.
This can be replaced with e.g. precompiling the `Pattern` and storing it in the class as a constant and later on using `Pattern.split()`.

[2018-04-23 16:56] 0crat commented on #34
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-04-24 11:07] victornoel commented on #9
@yegor256 issue is solved (by #18 which was merged)

[2018-04-24 17:35] 0crat commented on #16
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-25 07:39] krzyk commented on #16
@0crat waiting for PR review

[2018-04-25 07:39] 0crat commented on #16
@krzyk The impediment for [#16](https://github.com/yegor256/cactoos-http/issues/16) was registered successfully by @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-04-25 08:25] krzyk commented on #34
@llorllale Closing as there is very small performance increase so it is probably not worth the effort.

[2018-04-25 08:25] #34 closed

[2018-04-25 08:40] 0crat commented on #34
The job is not in WBS, won't close the order

[2018-04-25 13:36] 0crat commented on #23
@pbenety[/z](https://www.0crat.com/u/pbenety) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-25 19:44] yegor256 commented on #9
@victornoel thanks

[2018-04-25 19:44] #9 closed

[2018-04-26 08:03] elenavolokhova commented on #9
@victornoel According to our Policy:

This message was not addressed:

If we are unsure I can add a todo :)

Please, confirm that you'll try to follow this rule in future.

[2018-04-26 08:35] elenavolokhova commented on #9
@0crat quality acceptable

[2018-04-26 08:36] 0crat commented on #9
Order was finished, quality is "acceptable": +30 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-04-26 08:37] 0crat commented on #9
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-04-27 10:44] VsSekorin opened #36 "Ignore RegexpMultilineCheck"
Now all classes do check on CRLF(`\r\n`), but RegexpMultilineCheck requires Unix-like end of line in files. Because of this, it is impossible to work with files. For example, to create a test for large text, as `large-text.txt` in `cactoos`.

I think we should ignore RegexpMultilineCheck in this project.

[2018-04-27 10:44] 0crat commented on #36
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-04-28 22:08] pbenety commented on #23
@0crat refuse

[2018-04-28 22:10] 0crat commented on #23
@pbenety The user @pbenety[/z](https://www.0crat.com/u/pbenety) resigned from [#23](https://github.com/yegor256/cactoos-http/issues/23), please stop working. Reason for job resignation: Order was cancelled

[2018-04-28 22:15] 0crat commented on #23
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @pbenety[/z](https://www.0crat.com/u/pbenety)

[2018-04-30 13:49] Vatavuk commented on #6
@yegor256 This issue is solved in #26, please close it.

[2018-04-30 13:50] Vatavuk commented on #7
@yegor256 This issue is solved in #25, please close it.

[2018-04-30 16:47] victornoel commented on #10
@yegor256 the issue is fixed by #35 that was merged

[2018-04-30 17:02] #3 closed

[2018-04-30 17:02] 0pdd commented on #3
The puzzle `1-94e51014` has disappeared from the source code, that's why I closed this issue.

[2018-04-30 17:02] 0pdd opened #37 "SkipInput.java:90-95: this internal class should be..."
The puzzle `3-25734ac4` from #3 has to be resolved:

https://github.com/yegor256/cactoos-http/blob/0744bc60e5fafb02d5c6c941382ebc4784771ac9/src/main/java/org/cactoos/http/io/SkipInput.java#L90-L95

The puzzle was created by Victor Noël on 21-Apr-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fix

[2018-04-30 17:02] 0pdd commented on #1
@yegor256 2 puzzles [#37](https://github.com/yegor256/cactoos-http/issues/37), [#4](https://github.com/yegor256/cactoos-http/issues/4) are still not solved; solved: [#3](https://github.com/yegor256/cactoos-http/issues/3), [#5](https://github.com/yegor256/cactoos-http/issues/5).

[2018-04-30 17:02] 0pdd commented on #3
@0pdd the puzzle [#37](https://github.com/yegor256/cactoos-http/issues/37) is still not solved.

[2018-04-30 17:02] 0crat commented on #37
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-04-30 17:02] 0crat commented on #37
@0pdd[/z](https://www.0crat.com/u/0pdd) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-30 17:08] 0crat commented on #37
Job [#37](https://github.com/yegor256/cactoos-http/issues/37) is now in scope, role is `DEV`

[2018-04-30 17:35] 0crat commented on #3
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-04-30 17:35] 0crat commented on #3
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-04-30 17:36] krzyk commented on #16
@VsSekorin Changes were merged in #30, please close this issue

[2018-05-01 05:38] krzyk commented on #36
@VsSekorin It is not possible to do it project wise, I would suggest to report a bug in qulice so unix file ending is checked only for specific files (e.g. java, xml, groovy, etc) - similar to FileTabCharacter

[2018-05-01 10:34] 0crat commented on #16
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-01 10:34] 0crat commented on #16
The job [#16](https://github.com/yegor256/cactoos-http/issues/16) is now out of scope

[2018-05-01 14:28] Vatavuk commented on #6
@yegor256 ping

[2018-05-01 14:29] Vatavuk commented on #7
@yegor256 ping

[2018-05-01 15:50] 0pdd commented on #4
The puzzle `1-97d18cdb` has disappeared from the source code, that's why I closed this issue.

[2018-05-01 15:50] #4 closed

[2018-05-01 15:50] 0pdd opened #38 "HtHeadTest.java:44-48: This test does not cover all..."
The puzzle `1-06a076ae` from #1 has to be resolved:

https://github.com/yegor256/cactoos-http/blob/cc39ef7f30263c91d11a8aa6ba0f9693b566aea1/src/test/java/org/cactoos/http/HtHeadTest.java#L44-L48

The puzzle was created by rultor on 01-May-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and

[2018-05-01 15:50] 0pdd commented on #1
@yegor256 2 puzzles [#37](https://github.com/yegor256/cactoos-http/issues/37), [#38](https://github.com/yegor256/cactoos-http/issues/38) are still not solved; solved: [#3](https://github.com/yegor256/cactoos-http/issues/3), [#4](https://github.com/yegor256/cactoos-http/issues/4), [#5](https://github.com/yegor256/cactoos-http/issues/5).

[2018-05-01 15:51] 0crat commented on #38
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-01 15:51] 0crat commented on #38
@0pdd[/z](https://www.0crat.com/u/0pdd) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-01 15:51] 0crat commented on #38
Job [#38](https://github.com/yegor256/cactoos-http/issues/38) is now in scope, role is `DEV`

[2018-05-01 16:07] 0crat commented on #4
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @vssekorin[/z](https://www.0crat.com/u/vssekorin), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-01 16:08] 0crat commented on #4
The job [#4](https://github.com/yegor256/cactoos-http/issues/4) is now out of scope

[2018-05-01 18:58] elenavolokhova commented on #16
@0crat quality good

[2018-05-01 19:01] 0crat commented on #16
Order was finished, quality is "good": +35 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-05-01 19:05] elenavolokhova commented on #4
@0crat quality good

[2018-05-01 19:07] 0crat commented on #4
Order was finished, quality is "good": +35 point(s) just awarded to @vssekorin[/z](https://www.0crat.com/u/vssekorin)

[2018-05-01 19:07] 0crat commented on #4
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-05-02 11:02] yegor256 commented on #6
@Vatavuk thanks

[2018-05-02 11:02] #6 closed

[2018-05-02 11:17] 0crat commented on #6
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @vatavuk[/z](https://www.0crat.com/u/vatavuk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-02 11:17] 0crat commented on #6
The job [#6](https://github.com/yegor256/cactoos-http/issues/6) is now out of scope

[2018-05-02 11:22] alex-semenyuk opened #39 "Use cactoos FormattedText instead of static String format."
There are few places in which we can replace static String format on FormattedText: org.cactoos.http.HtResponse, org.cactoos.http.HtWireTest, org.cactoos.http.HtSecureWireTest, org.cactoos.http.HtResponseTest, org.cactoos.http.HtAutoRedirectTest

[2018-05-02 13:01] llorllale commented on #39
@0crat in

[2018-05-02 13:01] 0crat commented on #39
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 13:01] 0crat commented on #39
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 13:01] 0crat commented on #39
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 13:02] 0crat commented on #39
@llorllale Job [#39](https://github.com/yegor256/cactoos-http/issues/39) is now in scope, role is `DEV`

[2018-05-02 14:02] 0crat commented on #39
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 15:02] 0crat commented on #39
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 17:03] 0crat commented on #39
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 18:04] 0crat commented on #39
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 18:35] elenavolokhova commented on #6
@0crat quality good

[2018-05-02 18:35] 0crat commented on #6
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 18:35] 0crat commented on #6
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 20:06] 0crat commented on #39
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 20:31] elenavolokhova commented on #6
@0crat quality good

[2018-05-02 20:31] 0crat commented on #6
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 20:31] 0crat commented on #6
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 20:32] 0crat commented on #6
@elenavolokhova Thanks, but quality review is not required in this job

[2018-05-02 21:19] yegor256 commented on #7
@Vatavuk thanks!

[2018-05-02 21:19] #7 closed

[2018-05-02 21:35] 0crat commented on #7
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @vatavuk[/z](https://www.0crat.com/u/vatavuk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-02 21:35] 0crat commented on #7
The job [#7](https://github.com/yegor256/cactoos-http/issues/7) is now out of scope

[2018-05-02 21:41] 0crat commented on #23
The job [#23](https://github.com/yegor256/cactoos-http/issues/23) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C63314D6Z/1222143064); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-05-03 08:01] elenavolokhova commented on #6
@yegor256 Could you please take a look at this? 0crat doesn't accept my review here.

[2018-05-03 13:13] yegor256 commented on #6
@0crat status

[2018-05-03 13:14] 0crat commented on #6
@yegor256 This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#6](https://github.com/yegor256/cactoos-http/issues/6) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C63314D6Z?q=%7Bjob%3A%27gh%3Ayegor256%2Fcactoos-http%236%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2018-05-03 17:10] elenavolokhova commented on #7
@0crat quality good

[2018-05-03 17:15] 0crat commented on #7
Order was finished, quality is "good": +35 point(s) just awarded to @vatavuk[/z](https://www.0crat.com/u/vatavuk)

[2018-05-03 17:15] 0crat commented on #7
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-05-03 18:59] yegor256 commented on #6
@elenavolokhova no review required here, forget it

[2018-05-03 19:18] Vatavuk commented on #6
@yegor256 what about my points?

[2018-05-04 01:54] paulodamaso opened #41 "Lack of documentation of Wire interface and HtWire class."
The current documentation about Wire interface and HtWire class is absent; there is no documentation about its logic and how it interacts with other project interfaces.

[2018-05-04 01:54] 0crat commented on #41
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-04 06:28] VsSekorin opened #42 "HtHead can be broken."
Now `HtHead` reads block, then checks it. Therefore, the situation is possible:
`... \r\n` - block 1
`\r\n ...` - block 2
In this case, `HtHead#stream` does not find `\r\n\r\n`.

[2018-05-04 06:28] 0crat commented on #42
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-04 11:05] yegor256 commented on #6
@Vatavuk I'm araid we lost them :( Due to technical issue we didn't create the QA review properly and the inormation about the task is lost.

[2018-05-04 14:08] krzyk opened #43 "Few configuration issues (for cactoos-http)"
(This is exactly the same as in https://github.com/yegor256/cactoos/issues/815, I don't know if we need two issues, but the repos are separate so I created this also).

1. `.travis.yml`:
- we don't need `gem install est`  (and do we need xcop?, I don't see it used anywhere)
- script should have `pdd --source=$(pwd) --verbose --file=/dev/null` (just like in .rultor.yml) to catch PDD errors early
-

[2018-05-04 14:08] 0crat commented on #43
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-04 19:38] krzyk opened #44 "Configure javadoc generation"
To make sure that we don't make mistakes in javadoc configuration please add a javadoc generation phase to travis and rultor config (it should be before the main build phase):
[code]

To do this we need to configure the plugin to allow our custom tags (`@checkstyle` and `@todo`), without those right now the javadoc generation fails.

[2018-05-04 19:38] 0crat commented on #44
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-04 21:37] alex-semenyuk commented on #39
@0crat status

[2018-05-04 21:38] 0crat commented on #39
@alex-semenyuk This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#39](https://github.com/yegor256/cactoos-http/issues/39) is [in scope](http://www.zerocracy.com/policy.html#14) for 2days
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is not set yet
  * Job [footprint](https:/

[2018-05-05 14:51] 0pdd opened #45 "HtCookies.java:42-45: The implementation of method..."
The puzzle `8-0309755b` from #8 has to be resolved:

https://github.com/yegor256/cactoos-http/blob/1d39456cc5107af980d224c6c62f82bd394c9679/src/main/java/org/cactoos/http/HtCookies.java#L42-L45

The puzzle was created by rultor on 05-May-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and t

[2018-05-05 14:51] 0pdd opened #46 "HtCookies.java:46-48: The implementation of method..."
The puzzle `8-4e75a126` from #8 has to be resolved:

https://github.com/yegor256/cactoos-http/blob/1d39456cc5107af980d224c6c62f82bd394c9679/src/main/java/org/cactoos/http/HtCookies.java#L46-L48

The puzzle was created by rultor on 05-May-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and t

[2018-05-05 14:51] 0pdd commented on #8
@yegor256 2 puzzles [#45](https://github.com/yegor256/cactoos-http/issues/45), [#46](https://github.com/yegor256/cactoos-http/issues/46) are still not solved.

[2018-05-05 14:51] 0crat commented on #45
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-05 14:51] 0crat commented on #45
@0pdd[/z](https://www.0crat.com/u/0pdd) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-05 14:51] 0crat commented on #46
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-05 14:51] 0crat commented on #46
@0pdd[/z](https://www.0crat.com/u/0pdd) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-05 14:51] 0crat commented on #45
Job [#45](https://github.com/yegor256/cactoos-http/issues/45) is now in scope, role is `DEV`

[2018-05-05 14:51] 0crat commented on #46
Job [#46](https://github.com/yegor256/cactoos-http/issues/46) is now in scope, role is `DEV`

[2018-05-06 16:26] 0crat commented on #37
The job [#37](https://github.com/yegor256/cactoos-http/issues/37) assigned to @vatavuk[/z](https://www.0crat.com/u/vatavuk), here is [why](https://www.0crat.com/footprint/C63314D6Z/1261628879); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cle

[2018-05-06 16:32] victornoel commented on #10
@yegor256 could you please close this issue? it has been fixed by #35.

[2018-05-06 21:11] #39 closed

[2018-05-06 21:27] 0crat commented on #39
The job [#39](https://github.com/yegor256/cactoos-http/issues/39) is now out of scope

[2018-05-06 21:56] paulodamaso commented on #23
@0crat wait for #41 resolution for better wire documentation.

[2018-05-06 21:56] 0crat commented on #23
@paulodamaso The impediment for [#23](https://github.com/yegor256/cactoos-http/issues/23) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-05-07 14:17] 0crat commented on #38
The job [#38](https://github.com/yegor256/cactoos-http/issues/38) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C63314D6Z/1271419495); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-05-08 11:50] victornoel opened #48 "Inconsistent, non-OO or non-declarative tests should be improved"
I noticed during my last PR that the quality standards of cactoos-http's tests are not at their best.

In particular we have many different ways of asserting facts depending on the test class:
- `Matchers.equalTo()` or `new EqualTo()` to check equality while most of the time `InputHasContent` or `TextHasString` would be perfect (see also yegor256/cactoos#836).
- assertions on `Map.get` while `Matc

[2018-05-08 13:44] victornoel commented on #11
@yegor256 #47 was merged, please close this issue :)

[2018-05-08 13:51] 0crat commented on #48
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-08 14:28] 0crat commented on #45
The job [#45](https://github.com/yegor256/cactoos-http/issues/45) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C63314D6Z/1281425445); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-05-09 08:19] krzyk opened #49 "Upgrade qulice to 0.17.3"
New qulice version brings following important changes:
- removal of `@author` tag (it is prohibited now)
- removal of `@version` tag (it is prohibited now)
- license header should start with `/*` instead of `/**`  - this will fix problem with IntelliJ reporting it as a javadoc that is not attached to any class
- checkstyle validation performance improvement (speedup of ~ 10%)
And few minor formatt

[2018-05-09 08:19] 0crat commented on #49
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-09 10:34] VsSekorin commented on #8
@yegor256 please close issue. PR #17 was merged

[2018-05-09 12:12] krzyk commented on #21
@llorllale I was actually looking how to do a request and it turns out I need to construct the http request using strings. Having something like here would make it much easier.

[2018-05-09 19:29] 0crat commented on #46
The job [#46](https://github.com/yegor256/cactoos-http/issues/46) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C63314D6Z/1291929680); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-05-10 06:04] yegor256 commented on #21
@g4s8 I think we should recommend our users to use those request building objects from Takes Framework. Reimplementing them here would be silly, I think.

[2018-05-10 06:04] yegor256 commented on #11
@victornoel thanks!

[2018-05-10 06:04] #11 closed

[2018-05-10 06:04] yegor256 commented on #8
@VsSekorin thanks!

[2018-05-10 06:04] #8 closed

[2018-05-10 06:05] yegor256 commented on #10
@victornoel thanks!

[2018-05-10 06:05] #10 closed

[2018-05-10 08:01] krzyk commented on #21
@llorllale so this could be about extending the documentation (README.md) with example usage (replacing the JoinedText example with something less bare bones and more abstract).

[2018-05-10 08:05] g4s8 commented on #21
@yegor256 you meant that `cactoos-http` should depends on `takes`? I think it's not good,  because it can be used not in web apps only or with other web-frameworks.

[2018-05-10 17:31] Vatavuk commented on #37
@0crat refuse

[2018-05-10 17:32] 0crat commented on #37
@Vatavuk The user @vatavuk[/z](https://www.0crat.com/u/vatavuk) resigned from [#37](https://github.com/yegor256/cactoos-http/issues/37), please stop working. Reason for job resignation: Order was cancelled

[2018-05-10 17:32] 0crat commented on #37
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @vatavuk[/z](https://www.0crat.com/u/vatavuk)

[2018-05-10 18:16] 0crat commented on #37
The job [#37](https://github.com/yegor256/cactoos-http/issues/37) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C63314D6Z/1301822979); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-05-10 20:36] elenavolokhova commented on #10
@0crat quality good

[2018-05-10 20:38] elenavolokhova commented on #8
@0crat quality good

[2018-05-10 20:39] 0crat commented on #10
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-05-10 20:39] 0crat commented on #10
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-05-10 20:40] 0crat commented on #8
Order was finished, quality is "good": +35 point(s) just awarded to @vssekorin[/z](https://www.0crat.com/u/vssekorin)

[2018-05-10 20:40] 0crat commented on #8
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-05-10 21:18] elenavolokhova commented on #11
@0crat quality good

[2018-05-12 16:17] alex-semenyuk opened #54 "Broken example with PUT in readme"
Example is broken

[code]

Need `new HtStatus(head)` instead `HtStatus(head)`, comma after `"\n\r"` is missing, need to call `asString `for `JoinedText`.

[2018-05-12 19:01] krzyk commented on #37
@0pdd PR created #52

[2018-05-12 19:02] krzyk commented on #45
@0pdd PR created #51

[2018-05-12 19:02] krzyk commented on #38
@0pdd PR created #50

[2018-05-14 20:25] 0crat commented on #46
@krzyk The impediment for [#46](https://github.com/yegor256/cactoos-http/issues/46) was registered successfully by @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-05-15 13:25] llorllale commented on #2
@g4s8 @yegor256 I have no idea how HTTP/2 works

@g4s8 can you implement a small, initial step in the right direction?

[2018-05-15 13:38] llorllale commented on #19
@yegor256 would `HtAutoHostedWire` be part of the public API?

[2018-05-15 13:43] llorllale commented on #20
@g4s8 I think this is gonna be a tricky one. We'd need to not close that input stream and keep a handle on it.

[2018-05-15 13:43] llorllale commented on #20
@0crat in

[2018-05-15 13:44] 0crat commented on #20
@llorllale Job [#20](https://github.com/yegor256/cactoos-http/issues/20) is now in scope, role is `DEV`

[2018-05-15 13:44] 0crat commented on #20
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-05-15 13:52] g4s8 commented on #2
@llorllale sure I'll have a look later

[2018-05-15 14:11] llorllale commented on #21
@yegor256 why isn't Takes included in the list of competitors?

[2018-05-15 14:14] llorllale commented on #22
@g4s8 no, cactoos-http does not support websockets. That would probably belong to Takes (but even they claim in their README that it won't ever be supported)

[2018-05-15 14:19] llorllale commented on #41
@paulodamaso regarding "how it interacts with other project interfaces", how can we improve the docs? A wire is a connection between two points (client, server); it sends an Input (provided by you) to the server and returns an Input encapsulating the server's response for you to read.

`HtWire` is just the default wire.

[2018-05-15 14:28] llorllale commented on #28
@VsSekorin I think we can close this

[2018-05-15 14:28] llorllale commented on #31
@victornoel can we close this?

[2018-05-15 14:29] 0crat commented on #22
The job is not in WBS, won't close the order

[2018-05-15 14:30] llorllale commented on #36
@VsSekorin also, why would you need this sort of test?

[2018-05-15 14:31] victornoel commented on #31
@llorllale yes let's

[2018-05-15 14:31] #31 closed

[2018-05-15 14:32] llorllale commented on #42
@0crat in

[2018-05-15 14:34] 0crat commented on #42
@llorllale Job [#42](https://github.com/yegor256/cactoos-http/issues/42) is now in scope, role is `DEV`

[2018-05-15 14:35] llorllale commented on #43
@krzyk fixed in ac5d2fd75ce5d432927b870f4ada777157a1c865, thanks

[2018-05-15 14:35] #43 closed

[2018-05-15 14:46] 0crat commented on #31
The job is not in WBS, won't close the order

[2018-05-15 14:47] #28 closed

[2018-05-15 14:48] VsSekorin commented on #36
@llorllale This test is no longer needed.

[2018-05-15 14:48] #36 closed

[2018-05-15 14:53] 0crat commented on #43
The job is not in WBS, won't close the order

[2018-05-15 15:04] 0crat commented on #28
The job is not in WBS, won't close the order

[2018-05-15 15:05] 0crat commented on #36
The job is not in WBS, won't close the order

[2018-05-15 15:07] llorllale commented on #44
@krzyk fixed in 1f8e17a857adae08f47c05645160f412e42da29d, thanks

[2018-05-15 15:07] #44 closed

[2018-05-15 15:10] llorllale commented on #48
@victornoel let's follow the same path as in yegor256/cactoos#588

[2018-05-15 15:10] llorllale commented on #48
@0crat in

[2018-05-15 15:10] 0crat commented on #48
@llorllale Job [#48](https://github.com/yegor256/cactoos-http/issues/48) is now in scope, role is `DEV`

[2018-05-15 15:12] llorllale commented on #49
@0crat in

[2018-05-15 15:12] 0crat commented on #48
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-05-15 15:12] 0crat commented on #49
@llorllale Job [#49](https://github.com/yegor256/cactoos-http/issues/49) is now in scope, role is `DEV`

[2018-05-15 15:14] 0crat commented on #49
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-05-15 15:15] llorllale commented on #54
@alex-semenyuk fixed in 262e4a7c4620751d6f56bad739dfda70088b3b8e, thanks!

[2018-05-15 15:15] #54 closed

[2018-05-15 17:06] paulodamaso commented on #48
@llorllale I'd like to do this.

[2018-05-15 18:17] g4s8 commented on #2
@llorllale yes, please assign me

[2018-05-15 18:54] 0crat commented on #22
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-15 18:54] 0crat commented on #22
@g4s8[/z](https://www.0crat.com/u/g4s8) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-15 18:54] llorllale commented on #22
@g4s8 ok, gotcha

[2018-05-15 18:55] 0crat commented on #2
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-05-15 18:59] llorllale commented on #22
@yegor256 WDYT? Should it be included in scope? From the looks of the README, it kinda sounds like it shouldn't be?

[2018-05-15 19:40] 0crat commented on #38
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-15 19:41] 0crat commented on #38
The job [#38](https://github.com/yegor256/cactoos-http/issues/38) is now out of scope

[2018-05-16 07:54] krzyk commented on #45
@0crat waiting

[2018-05-16 07:58] 0crat commented on #45
@krzyk The impediment for [#45](https://github.com/yegor256/cactoos-http/issues/45) was registered successfully by @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-05-16 13:36] 0crat commented on #37
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 6days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-16 14:35] 0crat commented on #49
The job [#49](https://github.com/yegor256/cactoos-http/issues/49) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/1361438918); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is n

[2018-05-16 15:37] 0crat commented on #20
The job [#20](https://github.com/yegor256/cactoos-http/issues/20) assigned to @vssekorin[/z](https://www.0crat.com/u/vssekorin), here is [why](https://www.0crat.com/footprint/C63314D6Z/1361543397); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-05-16 15:46] 0crat commented on #42
The job [#42](https://github.com/yegor256/cactoos-http/issues/42) assigned to @sharpler[/z](https://www.0crat.com/u/sharpler), here is [why](https://www.0crat.com/footprint/C63314D6Z/1361552499); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not c

[2018-05-16 16:16] elenavolokhova commented on #38
@0crat quality good

[2018-05-16 16:27] 0crat commented on #38
Order was finished, quality is "good": +35 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-05-16 16:29] 0crat commented on #38
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-05-17 13:55] 0pdd commented on #45
The puzzle `8-0309755b` has disappeared from the source code, that's why I closed this issue.

[2018-05-17 13:55] #45 closed

[2018-05-17 13:55] 0pdd commented on #8
@yegor256 the puzzle [#46](https://github.com/yegor256/cactoos-http/issues/46) is still not solved; solved: [#45](https://github.com/yegor256/cactoos-http/issues/45).

[2018-05-17 14:14] 0crat commented on #45
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-17 14:16] 0crat commented on #45
The job [#45](https://github.com/yegor256/cactoos-http/issues/45) is now out of scope

[2018-05-17 14:35] elenavolokhova commented on #45
@krzyk According to our Policy:

Please, confirm that you'll add explanation for impediments in future. Thanks!

[2018-05-17 15:02] elenavolokhova commented on #45
@0crat quality acceptable

[2018-05-17 15:09] 0crat commented on #45
Order was finished, quality is "acceptable": +30 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-05-17 15:09] 0crat commented on #45
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-05-17 19:39] Vatavuk commented on #48
@0crat wait until https://github.com/llorllale/cactoos-matchers/pull/9#issuecomment-389983655 is merged

[2018-05-17 19:41] 0crat commented on #48
@Vatavuk The impediment for [#48](https://github.com/yegor256/cactoos-http/issues/48) was registered successfully by @vatavuk[/z](https://www.0crat.com/u/vatavuk)

[2018-05-17 20:14] 0pdd commented on #37
The puzzle `3-25734ac4` has disappeared from the source code, that's why I closed this issue.

[2018-05-17 20:14] #37 closed

[2018-05-17 20:14] 0pdd commented on #1
@yegor256 all 5 puzzles are solved here: [#37](https://github.com/yegor256/cactoos-http/issues/37), [#38](https://github.com/yegor256/cactoos-http/issues/38), [#3](https://github.com/yegor256/cactoos-http/issues/3), [#4](https://github.com/yegor256/cactoos-http/issues/4), [#5](https://github.com/yegor256/cactoos-http/issues/5).

[2018-05-17 20:14] 0pdd commented on #3
@0pdd the only puzzle [#37](https://github.com/yegor256/cactoos-http/issues/37) is solved here.

[2018-05-17 20:35] 0crat commented on #37
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-17 20:37] 0crat commented on #37
The job [#37](https://github.com/yegor256/cactoos-http/issues/37) is now out of scope

[2018-05-18 15:59] elenavolokhova commented on #37
@0crat quality good

[2018-05-18 16:03] 0crat commented on #37
Order was finished, quality is "good": +35 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-05-18 16:04] 0crat commented on #37
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-05-19 07:57] g4s8 commented on #20
@VsSekorin right, it has two parameters: timeout and max (requests), but timeout is not same as in `HtTimedWire`, here it indicates how long to keep TCP connection opened. Let see this example:
[code]
here server asked client to not close TCP connection for 5 seconds. So if client sends new request to this server not later than 5 seconds it can reuse existing TCP connection to server, but if clien

[2018-05-19 10:16] victornoel commented on #49
@llorllale should I also bump `jcabi-parent` to latest (0.49.2 -> 0.49.3)?

[2018-05-19 10:45] victornoel commented on #49
@0crat waiting for #55

[2018-05-19 10:46] 0crat commented on #49
@victornoel The impediment for [#49](https://github.com/yegor256/cactoos-http/issues/49) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-05-19 13:44] yegor256 commented on #22
@llorllale I would suggest to stay away from Websockets. It's a different story, if you ask me. A very different dynamics.

[2018-05-19 13:55] llorllale commented on #49
@victornoel I just looked (not too deeply) at [releases](https://github.com/jcabi/jcabi-parent/releases) for `jcabi-parent` - I don't see anything of real interest added in `0.49.3`, or is there?

[2018-05-19 14:05] yegor256 commented on #21
@llorllale because it doesn't know how to make HTTP requests. It can only build them in text form.

[2018-05-19 14:05] yegor256 commented on #19
@llorllale why not?

[2018-05-19 14:09] victornoel commented on #49
@llorllale I didn't see anything particular either, I just noticed it was the version used in cactoos-matchers for example and though it was always best to keep it at the latest version... not really justified :)

[2018-05-19 14:12] llorllale commented on #49
@victornoel I think in `cactoos-matchers` I set it to the latest version while I was setting up the project just because it was the latest. It could easily have been `0.49.2` or whatever, so let's not worry about it for now.

[2018-05-19 14:14] victornoel commented on #49
@llorllale sure, thanks.

[2018-05-21 16:10] yegor256 commented on #21
@llorllale I meant Takes, not jcabi-http

[2018-05-22 14:00] llorllale commented on #21
@g4s8 @yegor256 @krzyk it would sound really weird for `cactoos-http` to direct users to another lib/framework just to fulfill this simple requirement (build http requests).

[2018-05-22 14:18] llorllale commented on #19
@yegor256 ok, agreed, `Host` may not necessarily match with the physical host that the wire is connected to

Refs:
* https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.23
* https://stackoverflow.com/a/43156094/1623885

[2018-05-22 14:18] llorllale commented on #19
@0crat in

[2018-05-22 14:18] 0crat commented on #19
@llorllale Job [#19](https://github.com/yegor256/cactoos-http/issues/19) is now in scope, role is `DEV`

[2018-05-22 14:19] 0crat commented on #19
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-05-22 14:20] llorllale commented on #22
@yegor256 agreed

@g4s8 closing this for now.

[2018-05-22 14:20] #22 closed

[2018-05-22 14:20] llorllale commented on #41
@paulodamaso can we close this?

[2018-05-22 14:36] 0crat commented on #22
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): CID: 1421462624, Type: "Close job", Author: "llorllale"

[2018-05-22 16:35] paulodamaso commented on #41
@llorllale I think that we should put this description in `Wire` javadoc, how about that?

[2018-05-24 12:58] llorllale commented on #41
@paulodamaso right now `Wire` is just:

[code]

How about:

[code]

WDYT?

[2018-05-24 23:14] 0crat commented on #20
@VsSekorin The impediment for [#20](https://github.com/yegor256/cactoos-http/issues/20) was registered successfully by @vssekorin[/z](https://www.0crat.com/u/vssekorin)

[2018-05-26 15:40] SharplEr commented on #42
@0crat waiting
Waiting for reviewer for #56

[2018-05-26 15:41] 0crat commented on #42
@SharplEr The impediment for [#42](https://github.com/yegor256/cactoos-http/issues/42) was registered successfully by @sharpler[/z](https://www.0crat.com/u/sharpler)

[2018-05-28 14:28] llorllale commented on #41
@paulodamaso ping

[2018-05-28 14:54] 0pdd opened #59 "pom.xml:165-166: we should re-enable findbugs and fix all..."
The puzzle `49-d03f4828` from #49 has to be resolved:

https://github.com/yegor256/cactoos-http/blob/aa4c07883f0a9afff6da51c0a04c4b4bc049ba23/pom.xml#L165-L166

The puzzle was created by Victor Noël on 19-May-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text of the puzzle is _rem

[2018-05-28 14:54] 0pdd commented on #49
@krzyk the puzzle [#59](https://github.com/yegor256/cactoos-http/issues/59) is still not solved.

[2018-05-28 14:55] 0crat commented on #59
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-28 14:55] 0crat commented on #59
Job [#59](https://github.com/yegor256/cactoos-http/issues/59) is now in scope, role is `DEV`

[2018-05-28 16:06] victornoel commented on #49
@krzyk #55 was merged, you can now close this issue :)

[2018-05-28 16:34] krzyk commented on #49
@victornoel thanks

[2018-05-28 16:34] #49 closed

[2018-05-28 16:50] 0crat commented on #49
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-28 16:50] 0crat commented on #49
The job [#49](https://github.com/yegor256/cactoos-http/issues/49) is now out of scope

[2018-05-28 17:13] paulodamaso commented on #41
@llorllale I think that's good for now, thanks.

[2018-05-28 17:13] #41 closed

[2018-05-28 17:29] 0crat commented on #41
The job is not in WBS, won't close the order

[2018-05-28 19:27] elenavolokhova commented on #49
@0crat quality good

[2018-05-28 19:31] 0crat commented on #49
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-05-28 19:31] 0crat commented on #49
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-05-29 09:53] SharplEr opened #60 "BoundedByteBuffer copies array every time when full."
In current implementation when `BoundedByteBuffer` is full then it going to copy full array on every `offer` operation. So complexity of `BoundedByteBuffer.offer()` is `O(n)`

But we can avoid any copy. Just look how `ArrayDeque` works inside:
[code]
Looks a bit complex but idea is very nice. They use one trick: `elements.length` is always a power of two. So `(head -1) & (elements.length - 1)` jus

[2018-05-29 09:54] 0crat commented on #60
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-30 14:13] 0pdd opened #61 "HtUpgradeWire.java:32-45: min As discovered in #53, the..."
The puzzle `23-e7afac42` from #23 has to be resolved:

https://github.com/yegor256/cactoos-http/blob/31af9eaed81d7a6f25c223d10e36fdafd854d06e/src/main/java/org/cactoos/http/HtUpgradeWire.java#L32-L45

The puzzle was created by rultor on 30-May-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed

[2018-05-30 14:13] 0pdd commented on #23
@g4s8 the puzzle [#61](https://github.com/yegor256/cactoos-http/issues/61) is still not solved.

[2018-05-30 14:13] 0crat commented on #61
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-30 14:14] 0crat commented on #61
Job [#61](https://github.com/yegor256/cactoos-http/issues/61) is now in scope, role is `DEV`

[2018-06-01 12:55] paulodamaso commented on #23
@g4s8 PR #53 merged, please close.

[2018-06-01 13:04] g4s8 commented on #23
@paulodamaso thanks!

[2018-06-01 13:04] #23 closed

[2018-06-01 13:20] 0crat commented on #23
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-01 13:21] 0crat commented on #23
The job [#23](https://github.com/yegor256/cactoos-http/issues/23) is now out of scope

[2018-06-01 14:56] elenavolokhova commented on #23
@0crat quality good

[2018-06-01 15:04] 0crat commented on #23
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-06-01 15:04] 0crat commented on #23
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-06-06 18:49] llorllale commented on #21
@yegor256

I think then `Takes` should depend on `cactoos-http`

[2018-06-12 17:08] yegor256 commented on #21
@llorllale well, not a bad idea, but will require a lot of refactoring and class moving...

[2018-06-14 12:53] llorllale commented on #21
@yegor256 `Takes` has the option of just continuing doing their own thing.

[2018-06-14 12:54] llorllale commented on #21
@g4s8 why did you leave out `Wire` in your proposal?

[2018-06-14 20:09] llorllale opened #62 "HtWire hangs until connection is closed remotely"
Test case:

[code]

The code above will hang until the remote service [sends a TCP packet with the FIN flag](https://stackoverflow.com/a/611777/1623885).

The fundamental question here is: how do we tell that we have already received the entire HTTP response and thus avoid having to wait until the remote service ends the connection themselves?

We can start with [section 3.3.3 of RFC7230](https://

[2018-06-14 20:09] llorllale commented on #62
@0crat in

[2018-06-14 20:10] 0crat commented on #62
Job [#62](https://github.com/yegor256/cactoos-http/issues/62) is now in scope, role is `DEV`

[2018-06-14 20:10] 0crat commented on #62
@llorllale Job [#62](https://github.com/yegor256/cactoos-http/issues/62) is already in scope

[2018-06-14 20:10] 0crat commented on #62
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-06-23 08:17] Vatavuk commented on #48
@victornoel please close this issue. It was solved in #58

[2018-06-23 10:05] #48 closed

[2018-06-23 10:21] 0crat commented on #48
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @vatavuk[/z](https://www.0crat.com/u/vatavuk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-23 10:21] 0crat commented on #48
The job [#48](https://github.com/yegor256/cactoos-http/issues/48) is now out of scope

[2018-06-23 14:01] elenavolokhova commented on #48
@0crat quality good

[2018-06-23 14:03] 0crat commented on #48
Order was finished, quality is "good": +35 point(s) just awarded to @vatavuk[/z](https://www.0crat.com/u/vatavuk)

[2018-06-23 14:03] 0crat commented on #48
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-06-28 19:42] 0crat commented on #62
@llorllale[/z](https://www.0crat.com/u/llorllale) not enough funds available in the project, can't set budget of job [#62](https://github.com/yegor256/cactoos-http/issues/62), see [§21](http://www.zerocracy.com/policy.html#21); @llorllale[/z](https://www.0crat.com/u/llorllale) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2018-06-28 19:42] 0crat commented on #62
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-06-28 19:42] 0crat commented on #62
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-06-28 20:05] llorllale commented on #62
@llorllale

Keep in mind that our goals [1] do not include implementing every feature offered by other HTTP libs.

With that said:

## Work to be done

* Need to refactor `HtWire` so that the socket is kept alive and its associated inputstream is not read at all. This opens the possibility for us to support persistent connections in the future (although would need to keep a reference to the socket

[2018-06-28 20:15] 0pdd opened #63 "HtWire.java:46-49: HtWire should not close the socket..."
The puzzle `62-ec9a5ea7` from #62 has to be resolved:

https://github.com/yegor256/cactoos-http/blob/795e57c6d3c16283c56b66c62a765f5605aadd7d/src/main/java/org/cactoos/http/HtWire.java#L46-L49

The puzzle was created by George Aristy on 28-Jun-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed

[2018-06-28 20:15] 0pdd opened #64 "HtResponse.java:39-42: We need decorators for HtResponse..."
The puzzle `62-02593012` from #62 has to be resolved:

https://github.com/yegor256/cactoos-http/blob/795e57c6d3c16283c56b66c62a765f5605aadd7d/src/main/java/org/cactoos/http/HtResponse.java#L39-L42

The puzzle was created by George Aristy on 28-Jun-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is f

[2018-06-28 20:15] 0pdd commented on #62
@llorllale 2 puzzles [#63](https://github.com/yegor256/cactoos-http/issues/63), [#64](https://github.com/yegor256/cactoos-http/issues/64) are still not solved.

[2018-06-28 20:15] llorllale commented on #62
@llorllale fixed in  795e57c6d3c16283c56b66c62a765f5605aadd7d

[2018-06-28 20:15] #62 closed

[2018-06-28 20:15] 0crat commented on #63
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-06-28 20:15] 0crat commented on #63
Job [#63](https://github.com/yegor256/cactoos-http/issues/63) is now in scope, role is `DEV`

[2018-06-28 20:16] 0crat commented on #64
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-06-28 20:16] 0crat commented on #64
Job [#64](https://github.com/yegor256/cactoos-http/issues/64) is now in scope, role is `DEV`

[2018-06-28 20:32] 0crat commented on #62
Order was finished: +30 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-06-28 20:32] 0crat commented on #62
The job [#62](https://github.com/yegor256/cactoos-http/issues/62) is now out of scope

[2018-06-29 14:37] llorllale commented on #21
@yegor256 @g4s8 tell me what you think:

[code]

All requests would still be of type `org.cactoos.Input`.

With these decorators, we will basically be splicing and joining several `Input` or `InputStream` into a single one.

**What we would need:**
* An equivalent for java's [`SequenceInputStream`](https://docs.oracle.com/javase/7/docs/api/java/io/SequenceInputStream.html) (`org.cactoos.io.JoinedI

[2018-07-02 09:11] victornoel commented on #60
@llorllale for the record that's how it was meant to be implemented from the beginning: that's the whole idea behind using a bounded byte buffer.
@SharplEr in our case we don't even need to change capacity since it is of fixed size, so it is even simpler :)

[2018-07-02 13:31] 0crat commented on #60
Job [#60](https://github.com/yegor256/cactoos-http/issues/60) is now in scope, role is `DEV`

[2018-07-02 13:31] 0crat commented on #60
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @sharpler[/z](https://www.0crat.com/u/sharpler)

[2018-07-03 08:32] yegor256 commented on #21
@llorllale I like the code snippet above, but I didn't understand the text beneath. We already have everything that we need for this code. What else is needed and what is your question?

[2018-07-03 15:14] llorllale commented on #64
@0pdd let me amend the requirement in this puzzle: none of the example decorators should close the inputstream. We could have an `HtAutoClosedResponse` though. Consider that in #63 we basically want to keep the socket alive unless we explicitly close it.

Example:

[code]

[2018-07-03 15:14] 0pdd commented on #64
I see you're talking to me, but I can't reply since I'm not a chat bot.

[2018-07-03 15:28] VsSekorin commented on #20
@0crat refuse

[2018-07-03 15:28] 0crat commented on #20
@VsSekorin The user @vssekorin[/z](https://www.0crat.com/u/vssekorin) resigned from [#20](https://github.com/yegor256/cactoos-http/issues/20), please stop working. Reason for job resignation: Order was cancelled

[2018-07-03 15:29] 0crat commented on #20
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @vssekorin[/z](https://www.0crat.com/u/vssekorin)

[2018-07-03 15:55] llorllale commented on #21
@yegor256

In my example above, we have two requests - `RqBase` and `RqHeaders` - and both are of type `Input`.

A `Wire` accepts only one `Input` in its method: `Input send(Input request);`.

Therefore we need to join all those requests/inputs into a single one and send it via the wire.

[2018-07-05 13:12] 0crat commented on #59
The job [#59](https://github.com/yegor256/cactoos-http/issues/59) assigned to @baybatu[/z](https://www.0crat.com/u/baybatu), here is [why](https://www.0crat.com/footprint/C63314D6Z/1861313920); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cle

[2018-07-05 13:22] 0crat commented on #61
The job [#61](https://github.com/yegor256/cactoos-http/issues/61) assigned to @dfrau32[/z](https://www.0crat.com/u/dfrau32), here is [why](https://www.0crat.com/footprint/C63314D6Z/1861324022); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cle

[2018-07-07 14:55] baybatu commented on #59
@0pdd PR created #65

[2018-07-11 10:58] baybatu commented on #59
@0crat wait for PR #65

[2018-07-11 10:58] 0crat commented on #59
@baybatu The impediment for [#59](https://github.com/yegor256/cactoos-http/issues/59) was registered successfully by @baybatu[/z](https://www.0crat.com/u/baybatu)

[2018-07-12 01:44] 0crat commented on #59
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @baybatu[/z](https://www.0crat.com/u/baybatu), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-12 01:44] 0crat commented on #59
The job [#59](https://github.com/yegor256/cactoos-http/issues/59) is now out of scope

[2018-07-12 21:13] elenavolokhova commented on #59
@0crat quality good

[2018-07-12 21:15] 0crat commented on #59
Order was finished, quality is "good": +46 point(s) just awarded to @baybatu[/z](https://www.0crat.com/u/baybatu)

[2018-07-12 21:16] 0crat commented on #59
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-07-15 10:15] dfrau32 commented on #61
@0crat resign

[2018-07-15 10:16] 0crat commented on #61
@dfrau32 The user @dfrau32[/z](https://www.0crat.com/u/dfrau32) resigned from [#61](https://github.com/yegor256/cactoos-http/issues/61), please stop working. Reason for job resignation: Order was cancelled

[2018-07-15 10:20] 0crat commented on #61
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @dfrau32[/z](https://www.0crat.com/u/dfrau32)

[2018-07-18 18:33] 0crat commented on #42
@SharplEr The user @sharpler[/z](https://www.0crat.com/u/sharpler) resigned from [#42](https://github.com/yegor256/cactoos-http/issues/42), please stop working. Reason for job resignation: Order was cancelled

[2018-07-18 18:33] 0crat commented on #42
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @sharpler[/z](https://www.0crat.com/u/sharpler)

[2018-07-21 19:59] llorllale commented on #21
@yegor256  the requirement is for providing "simple requests", not necessarily copy request objects from Takes.

Here is my example again with the `Htr` prefix to avoid confusion:

[code]

This `Htr` prefix is only valid for the purposes of this example, as I have yet to come up with a better prefix. (I think there would be too many naming conflicts if we use `Ht` for these)

[2018-10-02 07:00] smallcreep opened #66 "Release new version to use it in projects."

[2018-10-02 07:00] 0crat commented on #66
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-10-02 07:00] 0crat commented on #66
@smallcreep[/z](https://www.0crat.com/u/smallcreep) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-10-02 20:11] llorllale commented on #66
@smallcreep what features are you looking to use?

[2018-11-02 19:50] AKholetsky opened #67 "build failed with openjdk11"
os: linux mint, windows 10
maven 3.6.0
openjdk11

/cactoos-http/src/main/java/org/cactoos/http/HtCookies.java:[56,50] no suitable constructor found for SplitText(java.lang.Object,java.lang.String)
[ERROR]     constructor org.cactoos.text.SplitText.SplitText(java.lang.String,java.lang.String) is not applicable
[ERROR]       (argument mismatch; java.lang.Object cannot be converted to java.lang.Strin

[2018-11-02 19:50] 0crat commented on #67
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-11-02 19:50] 0crat commented on #67
@akholetsky[/z](https://www.0crat.com/u/akholetsky) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-03 15:32] 0crat commented on #20
The job [#20](https://github.com/yegor256/cactoos-http/issues/20) assigned to @dgroup[/z](https://www.0crat.com/u/dgroup), here is [why](https://www.0crat.com/footprint/C63314D6Z/bbc0e8e1-8bfa-43eb-9637-6111e9d2f4bf); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9)

[2019-01-03 16:46] 0crat commented on #42
The job [#42](https://github.com/yegor256/cactoos-http/issues/42) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/C63314D6Z/40add5b9-dbe0-4b98-bc3b-fc33e45157ae); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/poli

[2019-01-03 18:14] ammaratef45 commented on #42
@llorllale where is the design documentation for this? I can't figure it out without seeing the design

[2019-01-03 21:07] llorllale commented on #42
@ammaratef45 do you have specific questions?

[2019-01-03 21:10] ammaratef45 commented on #42
The issue isn't clear for me,
What is the block and how can a block being terminated in the block after it

[2019-01-03 21:22] llorllale commented on #2
@0crat refuse

[2019-01-03 21:22] llorllale commented on #46
@0crat refuse

[2019-01-04 13:17] llorllale commented on #42
@ammaratef45 the issue refers to the way `HtHead` reads the stream in "blocks" or chunks while parsing it, looking for the `\r\n\r\n` delimiter

[2019-01-06 14:35] dgroup commented on #20
@0crat wait as #68 is raised.

[2019-01-06 14:39] 0crat commented on #20
@dgroup The impediment for [#20](https://github.com/yegor256/cactoos-http/issues/20) was registered successfully by @dgroup[/z](https://www.0crat.com/u/dgroup)

[2019-01-06 15:16] 0crat commented on #46
The job [#46](https://github.com/yegor256/cactoos-http/issues/46) assigned to @verkhovin[/z](https://www.0crat.com/u/verkhovin), here is [why](https://www.0crat.com/footprint/C63314D6Z/2af35179-14d2-49a6-8b56-e8467dd1fa07); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.h

[2019-01-13 18:46] 0crat commented on #42
The job [#42](https://github.com/yegor256/cactoos-http/issues/42) assigned to @ilyakharlamov[/z](https://www.0crat.com/u/ilyakharlamov), here is [why](https://www.0crat.com/footprint/C63314D6Z/95b1cf0e-5b45-4dc5-9fda-a93728f56b1f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2019-01-13 18:47] 0crat commented on #2
The job [#2](https://github.com/yegor256/cactoos-http/issues/2) assigned to @ilyakharlamov[/z](https://www.0crat.com/u/ilyakharlamov), here is [why](https://www.0crat.com/footprint/C63314D6Z/92a07e74-105b-405f-a672-6c375c0b751d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/po

[2019-01-15 16:11] 0crat commented on #2
Are you speaking to me or about me [here](https://github.com/yegor256/cactoos-http/issues/2#issuecomment-454449511); you must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1)

[2019-01-15 17:17] ilyakharlamov commented on #2
@0crat refuse

[2019-01-15 17:19] 0crat commented on #2
@ilyakharlamov The user @ilyakharlamov[/z](https://www.0crat.com/u/ilyakharlamov) resigned from [#2](https://github.com/yegor256/cactoos-http/issues/2), please stop working. Reason for job resignation: Order was cancelled

[2019-01-15 17:20] 0crat commented on #2
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @ilyakharlamov[/z](https://www.0crat.com/u/ilyakharlamov)

[2019-01-19 23:56] fabriciofx opened #70 "EO violation in Wire?"
Into the `Wire` interface we have a method `Input send(Input input) throws IOException`, but it isn't a EO violation? In EO vol 1, Yegor says *"verb methods should return nothing (void)"* and `send()` is a verb. So, should we rename it?

[2019-01-19 23:56] 0crat commented on #70
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-01-24 14:17] 0crat commented on #61
The job [#61](https://github.com/yegor256/cactoos-http/issues/61) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/C63314D6Z/f6c913a1-1989-4f66-a486-c567c9d8469c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2019-01-28 16:59] fabriciofx opened #71 "Update jcabi-parent to 0.49.4 (solves xcop issue)"
Let's update to new jcabi version (0.49.4) because this new version solves xcop issue on windows.

[2019-01-28 16:59] 0crat commented on #71
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-01-30 02:21] llorllale commented on #71
@fabriciofx done in a10575851b39b2d8de4bccb269744ebd8490477f

[2019-01-30 02:21] #71 closed

[2019-01-30 02:38] 0crat commented on #71
Job `gh:yegor256/cactoos-http#71` is not assigned, can't get performer

[2019-01-30 02:42] 0crat commented on #71
This job is not in scope

[2019-02-02 02:48] 0crat commented on #63
The job [#63](https://github.com/yegor256/cactoos-http/issues/63) assigned to @borysfan[/z](https://www.0crat.com/u/borysfan), here is [why](https://www.0crat.com/footprint/C63314D6Z/5fa3abb4-e5c8-435c-b928-78b5c8ebeb26); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2019-02-02 13:54] ilyakharlamov opened #72 "Update cactoos to 0.39"
This is just a marker issue to update cactoos to 0.39.
It's not a minor change, since new version of cactoos introduces lots of checked exceptions to the method signatures for some reason.

[2019-02-02 13:54] 0crat commented on #72
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-02-02 15:01] llorllale commented on #72
@0crat assign @victornoel

[2019-02-02 15:08] 0crat commented on #72
@llorllale The job [#72](https://github.com/yegor256/cactoos-http/issues/72) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/85e3f72e-bd1c-46af-ac62-3e903fa3a142); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy

[2019-02-02 17:19] victornoel commented on #72
@0crat wait for #73

[2019-02-03 16:17] 0crat commented on #19
The job [#19](https://github.com/yegor256/cactoos-http/issues/19) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/C63314D6Z/5eb67617-5dfc-4ca8-96d2-6fd3fbc60e2c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2019-02-04 12:13] marceloamadeu commented on #61
@0crat refuse

[2019-02-04 12:15] 0crat commented on #61
@marceloamadeu The user @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) resigned from [#61](https://github.com/yegor256/cactoos-http/issues/61), please stop working. Reason for job resignation: Order was cancelled

[2019-02-07 02:24] 0pdd opened #74 "HtKeepAliveResponse.java:58-66: Replace the HtWire by..."
The puzzle `20-eb4af059` from #20 has to be resolved:

https://github.com/yegor256/cactoos-http/blob/1248e0c31b30fbfca43db9ff25ea49b56a527d03/src/main/java/org/cactoos/http/HtKeepAliveResponse.java#L58-L66

The puzzle was created by @rultor on 07-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text

[2019-02-07 02:24] 0pdd commented on #20
@g4s8 the puzzle [#74](https://github.com/yegor256/cactoos-http/issues/74) is still not solved.

[2019-02-07 02:24] 0crat commented on #74
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-02-07 16:15] 0crat commented on #74
Job [#74](https://github.com/yegor256/cactoos-http/issues/74) is now in scope, role is `DEV`

[2019-02-08 14:29] 0crat commented on #19
The job [#19](https://github.com/yegor256/cactoos-http/issues/19) assigned to @iprogrammerr[/z](https://www.0crat.com/u/iprogrammerr), here is [why](https://www.0crat.com/footprint/C63314D6Z/b4715ec0-34ca-43f3-9481-bd8c7c7eb41a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/po

[2019-02-08 21:56] Iprogrammerr commented on #19
@llorllale Right now, it could not be reversed. Wire encapsulates host and port. How it coulde be done? Send method has one argument which is a input. I do not think that reading first line and parsing it according to http rules is a good idea.

[2019-02-09 13:58] llorllale commented on #19
@Iprogrammerr I agree

As I said in https://github.com/yegor256/cactoos-http/issues/19#issuecomment-391007559, the `Host` header can have a completely different value than the wire's target, and it should be supplied by the user. For all we know, the wire's target could even be an IP address.

I agree that it's an inconvenience (btw - the first example in https://github.com/yegor256/cactoos-http/i

[2019-02-09 13:58] llorllale commented on #19
@0crat refuse

[2019-02-09 14:06] 0crat commented on #19
@llorllale The user @iprogrammerr[/z](https://www.0crat.com/u/iprogrammerr) resigned from [#19](https://github.com/yegor256/cactoos-http/issues/19), please stop working. Reason for job resignation: Order was cancelled

[2019-02-09 14:09] llorllale commented on #19
@0crat out

[2019-02-09 14:12] 0crat commented on #19
@llorllale Job `gh:yegor256/cactoos-http#19` is not assigned, can't get performer

[2019-02-09 14:12] 0crat commented on #19
@llorllale The job [#19](https://github.com/yegor256/cactoos-http/issues/19) is now out of scope

[2019-02-09 14:25] 0crat commented on #61
The job [#61](https://github.com/yegor256/cactoos-http/issues/61) assigned to @iprogrammerr[/z](https://www.0crat.com/u/iprogrammerr), here is [why](https://www.0crat.com/footprint/C63314D6Z/fb46119d-3133-4af5-b028-8d2fafd32f79); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/po

[2019-02-20 07:59] victornoel commented on #72
@ilyakharlamov you can now close this issue, the PR (#73) has been merged :)

[2019-02-20 12:46] #72 closed

[2019-02-20 13:23] 0crat commented on #72
The job [#72](https://github.com/yegor256/cactoos-http/issues/72) is now out of scope

[2019-02-20 13:24] 0crat commented on #72
Order was finished: +30 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-02-24 12:10] 0crat commented on #64
The job [#64](https://github.com/yegor256/cactoos-http/issues/64) assigned to @tomascury[/z](https://www.0crat.com/u/tomascury), here is [why](https://www.0crat.com/footprint/C63314D6Z/165b9ea8-b678-4502-8b54-17a4bb1f8130); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.h

[2019-02-24 12:21] llorllale commented on #64
@0crat refuse

[2019-02-24 12:21] 0crat commented on #64
@llorllale The user @tomascury[/z](https://www.0crat.com/u/tomascury) resigned from [#64](https://github.com/yegor256/cactoos-http/issues/64), please stop working. Reason for job resignation: Order was cancelled

[2019-02-26 01:23] 0crat commented on #64
The job [#64](https://github.com/yegor256/cactoos-http/issues/64) assigned to @iprogrammerr[/z](https://www.0crat.com/u/iprogrammerr), here is [why](https://www.0crat.com/footprint/C63314D6Z/4d229dbd-ae78-4bc5-b66b-5d7cf28ba1d2); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/po

[2019-02-26 01:31] ilyakharlamov commented on #42
@0crat status

[2019-02-26 01:32] 0crat commented on #42
@ilyakharlamov This is what I know about this job in [C63314D6Z](https://www.0crat.com/p/C63314D6Z), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#42](https://github.com/yegor256/cactoos-http/issues/42) is [in scope](http://www.zerocracy.com/policy.html#14) for 10mon
  * The role is `DEV`
  * The job is assigned to @ilyakharlamov[/z](https://www.0crat.com/u/ilyakharlamov) fo

[2019-03-02 13:46] llorllale commented on #70
@fabriciofx fair enough, but neither solutions are correct according to Yegor's book.

[2019-03-12 19:09] 0crat commented on #60
The job [#60](https://github.com/yegor256/cactoos-http/issues/60) assigned to @golyalpha[/z](https://www.0crat.com/u/golyalpha), here is [why](https://www.0crat.com/footprint/C63314D6Z/6f8128a3-3992-490c-8e21-a106e5d64017); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.h

[2019-03-17 02:24] ilyakharlamov commented on #42
@llorllale ping, the PR was merged a while ago

[2019-03-17 13:49] llorllale commented on #42
@ilyakharlamov ask the ticket's reporter if we can close this

[2019-03-18 20:10] ilyakharlamov commented on #42
@VsSekorin ping

[2019-03-18 23:30] llorllale commented on #20
@g4s8 PR #68 was merged, can we close this?

[2019-03-18 23:30] llorllale commented on #46
@0crat refuse

[2019-03-18 23:31] llorllale commented on #2
@0crat refuse

[2019-03-18 23:34] llorllale commented on #63
@0crat refuse

[2019-03-18 23:36] 0crat commented on #46
@llorllale The user @verkhovin[/z](https://www.0crat.com/u/verkhovin) resigned from [#46](https://github.com/yegor256/cactoos-http/issues/46), please stop working. Reason for job resignation: Order was cancelled

[2019-03-18 23:40] 0crat commented on #2
@llorllale The user @borysfan[/z](https://www.0crat.com/u/borysfan) resigned from [#2](https://github.com/yegor256/cactoos-http/issues/2), please stop working. Reason for job resignation: Order was cancelled

[2019-03-18 23:44] 0crat commented on #63
@llorllale The user @borysfan[/z](https://www.0crat.com/u/borysfan) resigned from [#63](https://github.com/yegor256/cactoos-http/issues/63), please stop working. Reason for job resignation: Order was cancelled

[2019-03-18 23:51] 0crat commented on #46
The job [#46](https://github.com/yegor256/cactoos-http/issues/46) assigned to @borysfan[/z](https://www.0crat.com/u/borysfan), here is [why](https://www.0crat.com/footprint/C63314D6Z/418a6675-5780-43f0-9bc8-ac39e9b23276); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2019-03-18 23:54] 0crat commented on #2
The job [#2](https://github.com/yegor256/cactoos-http/issues/2) assigned to @mazdack[/z](https://www.0crat.com/u/mazdack), here is [why](https://www.0crat.com/footprint/C63314D6Z/696cfbcf-353f-4ef3-9e58-9eb50aa9ad32); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9)

[2019-03-19 00:11] 0crat commented on #61
The job [#61](https://github.com/yegor256/cactoos-http/issues/61) assigned to @mazdack[/z](https://www.0crat.com/u/mazdack), here is [why](https://www.0crat.com/footprint/C63314D6Z/67899a00-c1f7-4769-b6c6-7150230bd878); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#

[2019-03-19 05:14] g4s8 commented on #20
@llorllale thanks

[2019-03-19 05:14] #20 closed

[2019-03-19 05:31] 0crat commented on #20
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @dgroup[/z](https://www.0crat.com/u/dgroup), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-03-19 05:31] 0crat commented on #20
The job [#20](https://github.com/yegor256/cactoos-http/issues/20) is now out of scope

[2019-03-19 20:49] golyalpha commented on #60
@0crat waiting on #75

[2019-03-19 20:50] 0crat commented on #60
@golyalpha The impediment for [#60](https://github.com/yegor256/cactoos-http/issues/60) was registered successfully by @golyalpha[/z](https://www.0crat.com/u/golyalpha)

[2019-03-22 11:53] sereshqua commented on #20
quality good

[2019-03-22 12:34] sereshqua commented on #20
@0crat quality good

[2019-03-22 12:52] 0crat commented on #20
Order was finished, quality is "good": +35 point(s) just awarded to @dgroup[/z](https://www.0crat.com/u/dgroup)

[2019-03-22 12:52] 0crat commented on #20
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-03-23 14:08] 0crat commented on #63
The job [#63](https://github.com/yegor256/cactoos-http/issues/63) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/87cae90c-0b6d-4f9d-978f-b383a7806ff0); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2019-03-23 14:13] 0crat commented on #64
The job [#64](https://github.com/yegor256/cactoos-http/issues/64) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/c4bbe7fe-03e1-4cb7-942d-502bca1f4ea6); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2019-03-23 14:22] 0crat commented on #60
The job [#60](https://github.com/yegor256/cactoos-http/issues/60) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/5925fad3-f663-4069-ae7a-c414fdf968dc); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2019-03-23 17:57] llorllale commented on #60
@victornoel hold on

[2019-03-24 12:04] victornoel commented on #60
@llorllale not sure what happened here, it is the second time I get assigned issues without the previous assignee refusing it...

[2019-03-24 14:21] victornoel commented on #63
@0crat wait for #76 to be merged

[2019-03-24 14:21] 0crat commented on #63
@victornoel The impediment for [#63](https://github.com/yegor256/cactoos-http/issues/63) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-03-24 14:22] victornoel commented on #64
@llorllale I'm not sure what is expected of DEV here, implement `HtAutoClosedResponse`?

[2019-03-24 15:12] llorllale commented on #60
@0crat status

[2019-03-24 15:12] 0crat commented on #60
@llorllale This is what I know about this job in [C63314D6Z](https://www.0crat.com/p/C63314D6Z), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#60](https://github.com/yegor256/cactoos-http/issues/60) is [in scope](http://www.zerocracy.com/policy.html#14) for 9mon
  * The role is `DEV`
  * The job is assigned to @victornoel[/z](https://www.0crat.com/u/victornoel) for [1days](h

[2019-03-24 15:16] llorllale commented on #60
@0crat assign @golyalpha

[2019-03-24 15:17] llorllale commented on #60
@victornoel in this particular case, @golyalpha left the project and then applied again for some reason

[2019-03-24 15:17] 0crat commented on #60
@llorllale The job [#60](https://github.com/yegor256/cactoos-http/issues/60) assigned to @golyalpha[/z](https://www.0crat.com/u/golyalpha), here is [why](https://www.0crat.com/footprint/C63314D6Z/4c958fe1-ffa2-439d-b689-dbdaf39aeef4); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.c

[2019-03-24 15:18] 0crat commented on #60
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-03-25 08:42] golyalpha commented on #60
Yeah, sorry about that.

[2019-03-26 00:39] llorllale commented on #64
@victornoel you can start with that and leave a puzzle for the others (eg. `HtContentLengthResponse`)

[2019-03-27 13:04] 0pdd opened #77 "BoundedByteBuffer.java:79-81: Figure out a more elegant..."
The puzzle `60-6fe1be4f` from #60 has to be resolved:

https://github.com/yegor256/cactoos-http/blob/f7cf70c0744c750da9a55c97cb485933a878f9d9/src/main/java/org/cactoos/http/io/BoundedByteBuffer.java#L79-L81

The puzzle was created by golyalpha on 26-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the te

[2019-03-27 13:04] 0pdd commented on #60
@SharplEr the puzzle [#77](https://github.com/yegor256/cactoos-http/issues/77) is still not solved.

[2019-03-27 13:04] 0crat commented on #77
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-03-27 13:07] 0crat commented on #77
Job [#77](https://github.com/yegor256/cactoos-http/issues/77) is now in scope, role is `DEV`

[2019-03-28 06:55] golyalpha commented on #60
@llorllale issue ready to close?

[2019-03-28 18:19] llorllale commented on #60
@SharplEr can we close this? PR #75 was merged

[2019-03-30 20:53] 0pdd commented on #63
The puzzle `62-ec9a5ea7` has disappeared from the source code, that's why I closed this issue.

[2019-03-30 20:53] #63 closed

[2019-03-30 20:53] 0pdd opened #78 "HtWireTest.java:103-106: HtWire should not close the..."
The puzzle `63-d518e687` from #63 has to be resolved:

https://github.com/yegor256/cactoos-http/blob/52e8b09f716b3cbfb1089a794c61435d768782cf/src/test/java/org/cactoos/http/HtWireTest.java#L103-L106

The puzzle was created by Victor Noël on 24-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of

[2019-03-30 20:53] 0pdd commented on #62
@llorllale 2 puzzles [#64](https://github.com/yegor256/cactoos-http/issues/64), [#78](https://github.com/yegor256/cactoos-http/issues/78) are still not solved; solved: [#63](https://github.com/yegor256/cactoos-http/issues/63).

[2019-03-30 20:53] 0pdd commented on #63
@0pdd the puzzle [#78](https://github.com/yegor256/cactoos-http/issues/78) is still not solved.

[2019-03-30 20:53] 0crat commented on #78
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-03-30 21:00] 0crat commented on #78
Job [#78](https://github.com/yegor256/cactoos-http/issues/78) is now in scope, role is `DEV`

[2019-03-30 21:22] 0crat commented on #63
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-03-30 21:22] 0crat commented on #63
Job [#63](https://github.com/yegor256/cactoos-http/issues/63) is not in the agenda of @victornoel[/z](https://www.0crat.com/u/victornoel), can't inspect

[2019-03-30 21:24] 0crat commented on #63
The job [#63](https://github.com/yegor256/cactoos-http/issues/63) is now out of scope

[2019-03-30 21:42] sereshqua commented on #63
@0crat quality good

[2019-03-30 21:50] 0crat commented on #63
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-03-30 21:55] 0crat commented on #63
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-03-31 09:10] golyalpha commented on #60
@0crat waiting for issue author to respond

[2019-03-31 09:12] 0crat commented on #60
@golyalpha The impediment for [#60](https://github.com/yegor256/cactoos-http/issues/60) was registered successfully by @golyalpha[/z](https://www.0crat.com/u/golyalpha)

[2019-04-01 20:15] golyalpha commented on #60
@llorllale Seems the issue author has been gone for a while. Can we deal with this some other way?

[2019-04-01 21:33] victornoel commented on #64
@0crat wait I'm on it

[2019-04-01 21:33] 0crat commented on #64
@victornoel The impediment for [#64](https://github.com/yegor256/cactoos-http/issues/64) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-04-02 01:05] llorllale commented on #60
@SharplEr closing issue due to inactivity. PR #75 was merged. Anything else, raise another issue.

[2019-04-02 01:05] #60 closed

[2019-04-02 01:30] 0crat commented on #60
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @golyalpha[/z](https://www.0crat.com/u/golyalpha), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-04-02 01:30] 0crat commented on #60
Job [#60](https://github.com/yegor256/cactoos-http/issues/60) is not in the agenda of @golyalpha[/z](https://www.0crat.com/u/golyalpha), can't inspect

[2019-04-02 01:32] 0crat commented on #60
The job [#60](https://github.com/yegor256/cactoos-http/issues/60) is now out of scope

[2019-04-02 03:57] sereshqua commented on #60
@0crat quality acceptable

[2019-04-02 04:06] 0crat commented on #60
Order was finished, quality is "acceptable": +30 point(s) just awarded to @golyalpha[/z](https://www.0crat.com/u/golyalpha)

[2019-04-02 04:06] 0crat commented on #60
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-04-06 17:38] victornoel commented on #64
@llorllale I've implemented it in #79

[2019-04-14 14:50] victornoel commented on #21
@g4s8 @llorllale @yegor256 for the record, there are such simple request objects already emerging in the test code base of cactoos-http, see #79. Just noting that here so that they are merged with whatever solution is found in this issue :)

[2019-04-16 15:09] ilyakharlamov commented on #42
@VsSekorin the PR was merged, I believe you can close this ticket.

[2019-04-18 12:20] 0crat commented on #74
The job [#74](https://github.com/yegor256/cactoos-http/issues/74) assigned to @umbrah[/z](https://www.0crat.com/u/umbrah), here is [why](https://www.0crat.com/footprint/C63314D6Z/98df7fc2-3652-4d5a-9be9-2ad5183a3b2f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9)

[2019-04-21 12:53] 0pdd commented on #64
The puzzle `62-02593012` has disappeared from the source code, that's why I closed this issue.

[2019-04-21 12:53] #64 closed

[2019-04-21 12:53] 0pdd opened #80 "HtAutoClosedResponseTest.java:40-45: Introduce..."
The puzzle `64-afac576d` from #64 has to be resolved:

https://github.com/yegor256/cactoos-http/blob/9c2c0c7573defa019a5f63c09f2d5023d0e6272f/src/test/java/org/cactoos/http/HtAutoClosedResponseTest.java#L40-L45

The puzzle was created by Victor Noel on 19-Apr-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and

[2019-04-21 12:53] 0pdd opened #81 "HtResponse.java:37-40: We need decorators for HtResponse..."
The puzzle `64-63b625df` from #64 has to be resolved:

https://github.com/yegor256/cactoos-http/blob/9c2c0c7573defa019a5f63c09f2d5023d0e6272f/src/main/java/org/cactoos/http/HtResponse.java#L37-L40

The puzzle was created by Victor Noel on 19-Apr-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of th

[2019-04-21 12:53] 0pdd commented on #62
@llorllale 3 puzzles [#78](https://github.com/yegor256/cactoos-http/issues/78), [#80](https://github.com/yegor256/cactoos-http/issues/80), [#81](https://github.com/yegor256/cactoos-http/issues/81) are still not solved; solved: [#63](https://github.com/yegor256/cactoos-http/issues/63), [#64](https://github.com/yegor256/cactoos-http/issues/64).

[2019-04-21 12:53] 0pdd commented on #64
@0pdd 2 puzzles [#80](https://github.com/yegor256/cactoos-http/issues/80), [#81](https://github.com/yegor256/cactoos-http/issues/81) are still not solved.

[2019-04-21 12:55] 0crat commented on #81
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-04-21 12:55] 0crat commented on #80
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-04-21 13:11] 0crat commented on #80
Job [#80](https://github.com/yegor256/cactoos-http/issues/80) is now in scope, role is `DEV`

[2019-04-21 13:11] 0crat commented on #81
Job [#81](https://github.com/yegor256/cactoos-http/issues/81) is now in scope, role is `DEV`

[2019-04-21 13:20] 0crat commented on #64
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-04-21 13:23] sereshqua commented on #64
@0crat quality good

[2019-04-21 13:24] 0crat commented on #64
The job [#64](https://github.com/yegor256/cactoos-http/issues/64) is now out of scope

[2019-04-21 13:39] 0crat commented on #64
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-04-21 13:42] 0crat commented on #64
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-04-24 02:29] fabriciofx opened #82 "Update maven-compiler-plugin and fix bug on it to allow incremental compilation"
Let's update `maven-compiler-plugin` to 3.8.0 version and fix a bug in this plugin which doesn't allow incremental compilation that increase compile and running time. To fix both we need change `pom.xml` to:
[code]
Please, pay attention to `<version>` and `<useIncrementalCompilation>` tag.

[2019-04-24 02:30] 0crat commented on #82
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-04-24 02:30] 0crat commented on #82
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-24 10:46] Umbrah commented on #74
@0crat refuse

[2019-04-24 10:47] 0crat commented on #74
@Umbrah The user @umbrah[/z](https://www.0crat.com/u/umbrah) resigned from [#74](https://github.com/yegor256/cactoos-http/issues/74), please stop working. Reason for job resignation: Order was cancelled

[2019-04-24 10:48] 0crat commented on #74
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @umbrah[/z](https://www.0crat.com/u/umbrah)

[2019-04-30 14:17] 0crat commented on #74
The job [#74](https://github.com/yegor256/cactoos-http/issues/74) assigned to @vzurauskas[/z](https://www.0crat.com/u/vzurauskas), here is [why](https://www.0crat.com/footprint/C63314D6Z/5af8d82b-042d-4d57-a221-a82857226248); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2019-04-30 21:50] 0crat commented on #77
The job [#77](https://github.com/yegor256/cactoos-http/issues/77) assigned to @vzurauskas[/z](https://www.0crat.com/u/vzurauskas), here is [why](https://www.0crat.com/footprint/C63314D6Z/881daffc-6e54-4fe6-bf74-ca4015a4752c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2019-05-01 14:53] vzurauskas opened #83 "'Get' class is in wrong package"
[Get](https://github.com/yegor256/cactoos-http/blob/master/src/test/java/org/cactoos/http/Get.java) class is in `test` package now. Shouldn't it be in `main`?

[2019-05-01 14:53] 0crat commented on #83
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-05-01 16:23] vzurauskas opened #84 "Target architecture and main responsibilities"
To understand the target architecture better, it would be good to have responsibilities of main entities documented somewhere, at least the initial vision.

Trying to understand https://github.com/yegor256/cactoos-http/issues/74, I read the discussion [here](https://github.com/yegor256/cactoos-http/pull/57) (in addition to looking over the current codebase), and this is what I understand from it:

[2019-05-01 16:23] 0crat commented on #84
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-05-01 16:24] vzurauskas commented on #74
@0crat wait for https://github.com/yegor256/cactoos-http/issues/84

[2019-05-01 16:25] 0crat commented on #74
@vzurauskas The impediment for [#74](https://github.com/yegor256/cactoos-http/issues/74) was registered successfully by @vzurauskas[/z](https://www.0crat.com/u/vzurauskas)

[2019-05-01 16:42] vzurauskas commented on #74
@llorllale To understand this better, I created https://github.com/yegor256/cactoos-http/issues/84 But in addition to the more generic questions there, I have a few more related specifically to this task.

If user wants to perform a series of request-response exchanges with server while keeping connection alive, he would use a pattern similar to the example in [this comment](https://github.com/yeg

[2019-05-02 12:29] vzurauskas commented on #77
@0crat wait for https://github.com/yegor256/cactoos-http/pull/85 to be merged.

[2019-05-02 12:30] 0crat commented on #77
@vzurauskas The impediment for [#77](https://github.com/yegor256/cactoos-http/issues/77) was registered successfully by @vzurauskas[/z](https://www.0crat.com/u/vzurauskas)

[2019-05-08 11:14] 0crat commented on #78
The job [#78](https://github.com/yegor256/cactoos-http/issues/78) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/ff85854c-ed1f-447d-94b5-e8b208136741); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2019-05-08 14:53] victornoel commented on #78
@0crat wait for #86 to be merged

[2019-05-08 14:55] 0crat commented on #78
@victornoel The impediment for [#78](https://github.com/yegor256/cactoos-http/issues/78) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-05-08 17:30] vzurauskas commented on #74
@llorllale ping

[2019-05-09 23:50] llorllale commented on #83
@vzurauskas was sort of considering #21 but let's move it in this task

[2019-05-09 23:50] llorllale commented on #83
@0crat in

[2019-05-09 23:51] 0crat commented on #83
@llorllale Job [#83](https://github.com/yegor256/cactoos-http/issues/83) is now in scope, role is `DEV`

[2019-05-09 23:57] 0crat commented on #83
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @vzurauskas[/z](https://www.0crat.com/u/vzurauskas)

[2019-05-18 13:09] fabriciofx commented on #70
@llorllale why not?

[2019-05-24 01:08] #77 closed

[2019-05-24 01:08] 0pdd commented on #77
The puzzle `60-6fe1be4f` has disappeared from the source code, that's why I closed this issue.

[2019-05-24 01:08] 0pdd commented on #60
@SharplEr the only puzzle [#77](https://github.com/yegor256/cactoos-http/issues/77) is solved here.

[2019-05-24 01:31] 0crat commented on #77
The job [#77](https://github.com/yegor256/cactoos-http/issues/77) is now out of scope

[2019-05-24 01:31] 0crat commented on #77
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @vzurauskas[/z](https://www.0crat.com/u/vzurauskas), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-05-24 03:56] sereshqua commented on #77
@0crat quality good

[2019-05-24 04:13] 0crat commented on #77
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-05-24 04:13] 0crat commented on #77
Order was finished, quality is "good": +35 point(s) just awarded to @vzurauskas[/z](https://www.0crat.com/u/vzurauskas)

[2019-05-25 13:24] 0crat commented on #81
The job [#81](https://github.com/yegor256/cactoos-http/issues/81) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/a5e8a7cd-cd2d-41d4-af93-b658062f82a9); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2019-05-25 13:35] 0crat commented on #80
The job [#80](https://github.com/yegor256/cactoos-http/issues/80) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/be085502-0159-49c1-b0cc-707674dce65e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2019-05-30 13:01] victornoel commented on #80
@0crat waiting for #78 to be solved first

[2019-05-30 13:07] victornoel commented on #81
@0crat refuse

[2019-05-30 13:09] 0crat commented on #80
@victornoel The impediment for [#80](https://github.com/yegor256/cactoos-http/issues/80) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-05-30 13:13] 0crat commented on #81
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#81](https://github.com/yegor256/cactoos-http/issues/81), please stop working. Reason for job resignation: Order was cancelled

[2019-05-30 13:14] 0crat commented on #81
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-06-01 15:58] 0crat commented on #42
The job [#42](https://github.com/yegor256/cactoos-http/issues/42) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/28271511-bc62-4c62-b5bb-bd1641c4901a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2019-06-01 15:59] victornoel commented on #42
@VsSekorin @llorllale someone can close this? the PR has been merged

[2019-06-01 16:00] victornoel commented on #42
@0crat waiting for issue to be closed

[2019-06-01 16:00] 0crat commented on #42
@victornoel The impediment for [#42](https://github.com/yegor256/cactoos-http/issues/42) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-06-01 21:31] #78 closed

[2019-06-01 21:31] 0pdd commented on #78
The puzzle `63-d518e687` has disappeared from the source code, that's why I closed this issue.

[2019-06-01 21:31] 0pdd opened #87 "HtTimedWireTest.java:79-81: With #78 solved, HtWire..."
The puzzle `78-e9bc29cd` from #78 has to be resolved:

https://github.com/yegor256/cactoos-http/blob/ee31a17fb026abf92c23203758ee048adb4deede/src/test/java/org/cactoos/http/HtTimedWireTest.java#L79-L81

The puzzle was created by @rultor on 01-Jun-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2019-06-01 21:31] 0pdd commented on #62
@llorllale 3 puzzles [#80](https://github.com/yegor256/cactoos-http/issues/80), [#81](https://github.com/yegor256/cactoos-http/issues/81), [#87](https://github.com/yegor256/cactoos-http/issues/87) are still not solved; solved: [#63](https://github.com/yegor256/cactoos-http/issues/63), [#64](https://github.com/yegor256/cactoos-http/issues/64), [#78](https://github.com/yegor256/cactoos-http/issues/7

[2019-06-01 21:31] 0pdd commented on #63
@0pdd the puzzle [#87](https://github.com/yegor256/cactoos-http/issues/87) is still not solved; solved: [#78](https://github.com/yegor256/cactoos-http/issues/78).

[2019-06-01 21:31] 0pdd commented on #78
@0pdd the puzzle [#87](https://github.com/yegor256/cactoos-http/issues/87) is still not solved.

[2019-06-01 21:32] 0crat commented on #87
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-06-01 21:38] 0crat commented on #87
Job [#87](https://github.com/yegor256/cactoos-http/issues/87) is now in scope, role is `DEV`

[2019-06-01 21:49] 0crat commented on #78
Job [#78](https://github.com/yegor256/cactoos-http/issues/78) is not in the agenda of @victornoel[/z](https://www.0crat.com/u/victornoel), can't retrieve data and time of add

[2019-06-01 21:50] 0crat commented on #78
Job [#78](https://github.com/yegor256/cactoos-http/issues/78) is not in the agenda of @victornoel[/z](https://www.0crat.com/u/victornoel), can't inspect

[2019-06-01 21:50] 0crat commented on #78
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-06-01 21:50] 0crat commented on #78
The job [#78](https://github.com/yegor256/cactoos-http/issues/78) is now out of scope

[2019-06-01 22:01] sereshqua commented on #78
@0crat quality good

[2019-06-01 22:13] 0crat commented on #78
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-06-01 22:13] 0crat commented on #78
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-06-03 17:45] victornoel commented on #80
@0crat wait for #88 to be merged

[2019-06-03 17:48] victornoel commented on #42
@VsSekorin @llorllale ping

[2019-06-03 17:48] 0crat commented on #80
@victornoel Job [#80](https://github.com/yegor256/cactoos-http/issues/80) is already on hold

[2019-06-07 01:47] llorllale commented on #42
@VsSekorin closed due to inactivity (PR #69 merged for this)

[2019-06-07 01:47] #42 closed

[2019-06-07 02:13] 0crat commented on #42
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-06-07 02:15] 0crat commented on #42
The job [#42](https://github.com/yegor256/cactoos-http/issues/42) is now out of scope

[2019-06-07 07:46] 0crat commented on #81
The job [#81](https://github.com/yegor256/cactoos-http/issues/81) assigned to @mazdack[/z](https://www.0crat.com/u/mazdack), here is [why](https://www.0crat.com/footprint/C63314D6Z/2aa249a8-08a7-46d1-8848-d31169747ad7); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#

[2019-06-07 07:46] 0crat commented on #81
Job `gh:yegor256/cactoos-http#81` already assigned to @mazdack, can't assign to @mazdack

[2019-06-07 11:19] sereshqua commented on #42
@victornoel she we wait until [issue](https://github.com/zerocracy/farm/issues/2070) has been review or already give `quality bad` here?

[2019-06-07 12:02] victornoel commented on #42
@sereshqua no, it's not needed, it is independent, thanks for checking :)

[2019-06-07 19:32] sereshqua commented on #42
@0crat quality bad

[2019-06-07 19:33] 0crat commented on #42
Quality is low, no payment, see [§31](http://www.zerocracy.com/policy.html#31)

[2019-06-07 19:59] 0crat commented on #42
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-06-16 23:42] llorllale opened #89 "Travis build fails installing oraclejdk8"
Affects PR #88

Error:
[code]
[Build log](https://travis-ci.org/yegor256/cactoos-http/builds/546330302?utm_source=github_status&utm_medium=notification)

**Probable cause**
* Gradual rollout of Xenial as the new [default linux Travis CI build environment](https://blog.travis-ci.com/2019-04-15-xenial-default-build-environment).
* [oraclejdk8 is not preinstalled in Xenial](https://docs.travis-ci.com

[2019-06-16 23:59] llorllale commented on #89
@0crat assign me

[2019-06-16 23:59] llorllale commented on #89
@llorllale fixed in 10e6bf4e907b6dbb43d3efd896983c09c2e68439

build log: https://travis-ci.org/yegor256/cactoos-http/builds/546523321

[2019-06-16 23:59] #89 closed

[2019-06-17 00:00] 0crat commented on #89
@llorllale The job [#89](https://github.com/yegor256/cactoos-http/issues/89) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C63314D6Z/9da14e90-901d-4828-91f4-9fdc92f5564d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.c

[2019-06-17 00:01] llorllale opened #90 "Upgrade openjdk"
We should upgrade to the newest versions of openjdk.

Openjdk8 is old and is starting to present problems with the CI - see #89

[2019-06-17 00:01] llorllale commented on #90
@0crat assign me

[2019-06-17 00:08] 0crat commented on #89
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-06-17 00:10] 0crat commented on #89
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-06-17 00:12] 0crat commented on #89
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-06-17 00:14] 0crat commented on #90
@llorllale The job [#90](https://github.com/yegor256/cactoos-http/issues/90) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C63314D6Z/f1d58c8c-d250-42d2-b34b-77035e961b37); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.c

[2019-06-17 00:19] 0crat commented on #90
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-06-17 00:20] 0crat commented on #90
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-06-17 00:20] 0crat commented on #90
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-06-17 00:22] 0crat commented on #89
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-06-17 00:26] 0crat commented on #89
The job [#89](https://github.com/yegor256/cactoos-http/issues/89) is now out of scope

[2019-06-17 00:26] 0crat commented on #89
Order was finished: +35 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-06-18 23:49] #80 closed

[2019-06-18 23:49] 0pdd commented on #80
The puzzle `64-afac576d` has disappeared from the source code, that's why I closed this issue.

[2019-06-18 23:49] 0pdd commented on #62
@llorllale 2 puzzles [#81](https://github.com/yegor256/cactoos-http/issues/81), [#87](https://github.com/yegor256/cactoos-http/issues/87) are still not solved; solved: [#63](https://github.com/yegor256/cactoos-http/issues/63), [#64](https://github.com/yegor256/cactoos-http/issues/64), [#78](https://github.com/yegor256/cactoos-http/issues/78), [#80](https://github.com/yegor256/cactoos-http/issues/8

[2019-06-18 23:49] 0pdd commented on #64
@0pdd the puzzle [#81](https://github.com/yegor256/cactoos-http/issues/81) is still not solved; solved: [#80](https://github.com/yegor256/cactoos-http/issues/80).

[2019-06-19 00:24] 0crat commented on #80
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-06-19 00:24] 0crat commented on #80
Job [#80](https://github.com/yegor256/cactoos-http/issues/80) is not in the agenda of @victornoel[/z](https://www.0crat.com/u/victornoel), can't inspect

[2019-06-19 00:25] 0crat commented on #80
The job [#80](https://github.com/yegor256/cactoos-http/issues/80) is now out of scope

[2019-06-19 04:55] sereshqua commented on #80
@0crat quality good

[2019-06-19 05:17] 0crat commented on #80
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-06-19 05:22] 0crat commented on #80
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-06-19 14:32] 0crat commented on #83
The job [#83](https://github.com/yegor256/cactoos-http/issues/83) assigned to @scristalli[/z](https://www.0crat.com/u/scristalli), here is [why](https://www.0crat.com/footprint/C63314D6Z/39f4d27d-86d4-4baa-8b04-9719de9b4245); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2019-06-19 14:58] 0crat commented on #87
The job [#87](https://github.com/yegor256/cactoos-http/issues/87) assigned to @scristalli[/z](https://www.0crat.com/u/scristalli), here is [why](https://www.0crat.com/footprint/C63314D6Z/c4c6868e-59fe-459b-8262-eb3801e10993); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2019-06-19 17:05] scristalli commented on #83
@0crat waiting for PR #91

[2019-06-19 17:06] 0crat commented on #83
@scristalli The impediment for [#83](https://github.com/yegor256/cactoos-http/issues/83) was registered successfully by @scristalli[/z](https://www.0crat.com/u/scristalli)

[2019-06-20 16:35] scristalli commented on #87
@0crat refuse

[2019-06-20 16:37] 0crat commented on #87
@scristalli The user @scristalli[/z](https://www.0crat.com/u/scristalli) resigned from [#87](https://github.com/yegor256/cactoos-http/issues/87), please stop working. Reason for job resignation: Order was cancelled

[2019-06-20 16:46] 0crat commented on #87
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @scristalli[/z](https://www.0crat.com/u/scristalli)

[2019-06-22 14:52] 0crat commented on #87
The job [#87](https://github.com/yegor256/cactoos-http/issues/87) assigned to @aivinog1[/z](https://www.0crat.com/u/aivinog1), here is [why](https://www.0crat.com/footprint/C63314D6Z/bb1ea1d0-e379-45a9-9e8d-eeae6fe1ad18); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2019-06-24 22:35] llorllale commented on #90
@0crat wait

[2019-06-24 22:36] 0crat commented on #90
@llorllale The impediment for [#90](https://github.com/yegor256/cactoos-http/issues/90) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-06-25 15:01] scristalli commented on #83
@vzurauskas PR #91 has been merged, can we close this?
Now `Get` is in the `main` package, along with a test case and a fix on the format of the request.

[2019-06-26 08:25] vzurauskas commented on #83
@scristalli Closed.

[2019-06-26 08:25] #83 closed

[2019-06-26 08:45] 0crat commented on #83
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @scristalli[/z](https://www.0crat.com/u/scristalli), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-06-26 08:46] 0crat commented on #83
The job [#83](https://github.com/yegor256/cactoos-http/issues/83) is now out of scope

[2019-06-26 08:46] 0crat commented on #83
Job [#83](https://github.com/yegor256/cactoos-http/issues/83) is pending quality review, can't start a new order

[2019-06-26 08:51] sereshqua commented on #83
@0crat quality good

[2019-06-26 08:59] 0crat commented on #83
Order was finished, quality is "good": +35 point(s) just awarded to @scristalli[/z](https://www.0crat.com/u/scristalli)

[2019-06-26 09:04] 0crat commented on #83
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-06-26 18:57] vzurauskas commented on #74
@llorllale ping pong

[2019-06-26 18:57] vzurauskas commented on #84
@llorllale ping

[2019-06-27 05:47] aivinog1 commented on #87
@0crat wait #92

[2019-06-27 05:48] 0crat commented on #87
@aivinog1 The impediment for [#87](https://github.com/yegor256/cactoos-http/issues/87) was registered successfully by @aivinog1[/z](https://www.0crat.com/u/aivinog1)

[2019-06-29 19:57] llorllale commented on #74
@vzurauskas sorry for the delay

Let's recap:

The `Keep-Alive` header is a hint that can be sent by *either* the client or the server.

`HtKeepAliveResponse` automatically injects the header into the user's HTTP request (decorates the request). We could perhaps rename it to avoid confusion.

`HtKeepAliveWire` is unnecessary - it's just a dumb pipe that either endpoint may decide to close off at a

[2019-06-29 20:00] llorllale commented on #74
@vzurauskas there is one thing I think that's missing from the above - the snippet assumes the server responded with `Keep-Alive` when in fact it may not. The example above would fail after the first request if the server decided to close the connection at the end of that exchange. You can inspect the headers of `HtResponse` with `HtHeaders`.

[2019-06-29 20:01] llorllale commented on #74
@vzurauskas finally:

Yes. We don't need `HtKeepAliveWire` at all.

[2019-07-16 13:02] fabriciofx commented on #70
@llorllale WDYT:
[code]

[2019-07-20 14:12] 0crat commented on #87
The job [#87](https://github.com/yegor256/cactoos-http/issues/87) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/601431b9-fecd-409d-b8f6-b780d2293dd7); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2019-07-20 16:04] victornoel commented on #87
@0crat wait for #93 to be merged

[2019-07-20 16:07] 0crat commented on #87
@victornoel The impediment for [#87](https://github.com/yegor256/cactoos-http/issues/87) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-07-27 09:11] victornoel commented on #90
@llorllale I would recommend moving to Java 11 as it is the latest LTS.

[2019-07-27 09:11] victornoel commented on #67
@AKholetsky see also #90

[2019-07-27 14:27] vzurauskas commented on #74
@llorllale Sorry for the delay, this time from me. :)

So if the client wanted to send two requests reusing the connection, the first request should include the `Connection: Keep-Alive` header, right? Therefore the code would look like this (N.B. the first request/response is `HtKeepAliveResponse` with timeout and rmax parameters) ?
[code]

If that's correct, and since this task already took a lot

[2019-07-30 15:34] llorllale commented on #90
@victornoel there are problems with the toolchain (eg. qulice)

[2019-08-07 17:42] vzurauskas commented on #74
@llorllale ping :)

[2019-09-11 13:42] 0crat commented on #61
The architect of the project has changed; @llorllale[/z](https://www.0crat.com/u/llorllale) is not at this role anymore; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is the architect now

[2019-09-11 13:42] 0crat commented on #2
The architect of the project has changed; @llorllale[/z](https://www.0crat.com/u/llorllale) is not at this role anymore; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is the architect now

[2019-09-11 13:42] 0crat commented on #46
The architect of the project has changed; @llorllale[/z](https://www.0crat.com/u/llorllale) is not at this role anymore; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is the architect now

[2019-09-11 13:46] 0crat commented on #90
The architect of the project has changed; @llorllale[/z](https://www.0crat.com/u/llorllale) is not at this role anymore; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is the architect now

[2019-09-11 13:46] 0crat commented on #81
The architect of the project has changed; @llorllale[/z](https://www.0crat.com/u/llorllale) is not at this role anymore; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is the architect now

[2019-09-11 13:47] 0crat commented on #87
The architect of the project has changed; @llorllale[/z](https://www.0crat.com/u/llorllale) is not at this role anymore; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is the architect now

[2019-09-11 16:08] 0crat commented on #74
The job [#74](https://github.com/yegor256/cactoos-http/issues/74) assigned to @iakunin[/z](https://www.0crat.com/u/iakunin), here is [why](https://www.0crat.com/footprint/C63314D6Z/c5232e96-d113-42a2-8592-5e966164ef49); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#

[2019-09-11 20:11] iakunin commented on #74
@paulodamaso, this is a pretty obscure task. Could you get me the right direction here?

[2019-09-11 20:50] paulodamaso commented on #74
@iakunin This issue is focused in implementing keep-alive connections by `cactoos-http` client. Keep-alive connectios trade the `keep-alive` header, so the server and the client would know the type of the http connection being used. Take a look at https://github.com/yegor256/cactoos-http/issues/74#issuecomment-515688229, it explains what shoud be implemented.

[2019-09-14 09:01] victornoel opened #94 "Bump copyright dates to 2019"
Everything is in the title, we should bump the copyright dates to 2019.

[2019-09-14 09:01] 0crat commented on #94
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-09-14 21:16] paulodamaso commented on #94
@0crat in

[2019-09-14 21:17] 0crat commented on #94
@paulodamaso Job [#94](https://github.com/yegor256/cactoos-http/issues/94) is now in scope, role is `DEV`

[2019-09-14 21:23] 0crat commented on #94
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-09-16 09:23] g4s8 commented on #42
@0crat status

[2019-09-16 09:29] 0crat commented on #42
@g4s8 This is what I know about this job in [C63314D6Z](https://www.0crat.com/p/C63314D6Z), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#42](https://github.com/yegor256/cactoos-http/issues/42) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C63314D6Z?q=%7Bjob%3A%27gh%3Ayegor256%2Fcactoos-http%2342%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricte

[2019-09-17 18:11] iakunin commented on #74
@0crat waiting for review https://github.com/yegor256/cactoos-http/pull/95

[2019-09-17 18:15] 0crat commented on #74
@iakunin The impediment for [#74](https://github.com/yegor256/cactoos-http/issues/74) was registered successfully by @iakunin[/z](https://www.0crat.com/u/iakunin)

[2019-09-18 14:59] 0crat commented on #94
The job [#94](https://github.com/yegor256/cactoos-http/issues/94) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/C63314D6Z/4e6f57e6-b9c3-4e3c-984e-7b42c5b9c556); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2019-09-18 15:01] 0crat commented on #94
Job `gh:yegor256/cactoos-http#94` already assigned to @marceloamadeu, can't assign to @marceloamadeu

[2019-09-19 13:36] paulodamaso opened #96 "Change project ARC"
Project ARC needs to be changed in rultor configurations, I can't do merges

[2019-09-19 14:22] llorllale commented on #96
@paulodamaso done in 3252fddbec2500a5a55b731c3b9d59ee6f19c388

[2019-09-19 14:22] #96 closed

[2019-09-19 15:53] 0crat commented on #96
Job `gh:yegor256/cactoos-http#96` is not assigned, can't get performer

[2019-09-19 16:11] 0crat commented on #96
This job is not in scope

[2019-09-20 01:30] paulodamaso commented on #96
@llorllale Thank you!

[2019-09-26 12:22] #74 closed

[2019-09-26 12:22] 0pdd commented on #74
The puzzle `20-eb4af059` has disappeared from the source code, that's why I closed this issue.

[2019-09-26 12:22] 0pdd commented on #20
@g4s8 the only puzzle [#74](https://github.com/yegor256/cactoos-http/issues/74) is solved here.

[2019-09-26 12:53] 0crat commented on #74
The job [#74](https://github.com/yegor256/cactoos-http/issues/74) is now out of scope

[2019-09-26 12:55] 0crat commented on #74
Order was finished: +30 point(s) just awarded to @iakunin[/z](https://www.0crat.com/u/iakunin)

[2019-10-21 15:56] 0pdd commented on #87
The puzzle `78-e9bc29cd` has disappeared from the source code, that's why I closed this issue.

[2019-10-21 15:56] #87 closed

[2019-10-21 15:56] 0pdd opened #98 "BlockingSocketServer.java:45-52: Rework the..."
The puzzle `87-b84e58fc` from #87 has to be resolved:

https://github.com/yegor256/cactoos-http/blob/701b89abe5091867180d68a86ff29a5e8183bb29/src/test/java/org/cactoos/http/io/BlockingSocketServer.java#L45-L52

The puzzle was created by @rultor on 21-Oct-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\"

[2019-10-21 15:56] 0pdd opened #99 "BlockingSocketServer.java:98-100: Update cactoos to at..."
The puzzle `87-6a44baaf` from #87 has to be resolved:

https://github.com/yegor256/cactoos-http/blob/701b89abe5091867180d68a86ff29a5e8183bb29/src/test/java/org/cactoos/http/io/BlockingSocketServer.java#L98-L100

The puzzle was created by @rultor on 21-Oct-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\"

[2019-10-21 15:57] 0crat commented on #98
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-10-21 15:57] 0pdd commented on #63
@0pdd 2 puzzles [#98](https://github.com/yegor256/cactoos-http/issues/98), [#99](https://github.com/yegor256/cactoos-http/issues/99) are still not solved; solved: [#78](https://github.com/yegor256/cactoos-http/issues/78), [#87](https://github.com/yegor256/cactoos-http/issues/87).

[2019-10-21 15:57] 0pdd commented on #78
@0pdd 2 puzzles [#98](https://github.com/yegor256/cactoos-http/issues/98), [#99](https://github.com/yegor256/cactoos-http/issues/99) are still not solved; solved: [#87](https://github.com/yegor256/cactoos-http/issues/87).

[2019-10-21 15:57] 0pdd commented on #87
@0pdd 2 puzzles [#98](https://github.com/yegor256/cactoos-http/issues/98), [#99](https://github.com/yegor256/cactoos-http/issues/99) are still not solved.

[2019-10-21 15:58] 0crat commented on #99
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-10-21 17:03] 0crat commented on #98
Job [#98](https://github.com/yegor256/cactoos-http/issues/98) is now in scope, role is `DEV`

[2019-10-21 19:06] 0crat commented on #99
Job [#99](https://github.com/yegor256/cactoos-http/issues/99) is now in scope, role is `DEV`

[2019-10-21 20:41] 0crat commented on #87
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-10-21 23:34] 0crat commented on #87
The job [#87](https://github.com/yegor256/cactoos-http/issues/87) is now out of scope

[2019-10-22 04:34] sereshqua commented on #87
@0crat quality good

[2019-10-22 07:24] 0crat commented on #99
The job [#99](https://github.com/yegor256/cactoos-http/issues/99) assigned to @iakunin[/z](https://www.0crat.com/u/iakunin), here is [why](https://www.0crat.com/footprint/C63314D6Z/275faa96-a591-460f-9240-fe53b11fe621); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#

[2019-10-22 08:35] 0crat commented on #98
The job [#98](https://github.com/yegor256/cactoos-http/issues/98) assigned to @iakunin[/z](https://www.0crat.com/u/iakunin), here is [why](https://www.0crat.com/footprint/C63314D6Z/b8861bcc-1661-483a-84d9-a0af5826ee66); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#

[2019-10-22 18:17] iakunin commented on #99
@0crat wait for https://github.com/yegor256/cactoos-http/pull/100 to be merged

[2019-10-22 18:52] 0crat commented on #99
@iakunin The impediment for [#99](https://github.com/yegor256/cactoos-http/issues/99) was registered successfully by @iakunin[/z](https://www.0crat.com/u/iakunin)

[2019-10-22 19:16] iakunin commented on #98
@victornoel @paulodamaso I cannot reproduce the problem with rultor-build (https://www.rultor.com/t/20323-537729119) locally.

I unignored the tests and run the same command in the same docker-image
[code]
and this build successfully passed. The full build log is [here](https://gist.github.com/iakunin/44b0d6d74931cba3f02d4fd192401126).

Maybe we can try to unignore the ignored tests and try to bui

[2019-10-22 19:16] iakunin commented on #98
@0crat wait for https://github.com/yegor256/cactoos-http/issues/98#issuecomment-545112402 to be answered.

[2019-10-22 19:51] 0crat commented on #98
@iakunin The impediment for [#98](https://github.com/yegor256/cactoos-http/issues/98) was registered successfully by @iakunin[/z](https://www.0crat.com/u/iakunin)

[2019-10-23 11:21] iakunin commented on #99
There is no label "waiting". Trying one more time.

@0crat wait for https://github.com/yegor256/cactoos-http/pull/100 to be merged

[2019-10-23 11:21] 0crat commented on #99
Are you speaking to me or about me [here](https://github.com/yegor256/cactoos-http/issues/99#issuecomment-545396144); you must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1)

[2019-10-23 11:21] iakunin commented on #99
@0crat wait for #100 to be merged

[2019-10-23 11:45] 0crat commented on #99
@iakunin Job [#99](https://github.com/yegor256/cactoos-http/issues/99) is already on hold

[2019-10-25 06:13] WhimsySoftware commented on #87
@0crat quality good

[2019-10-25 08:32] 0crat commented on #87
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-10-28 09:11] g4s8 commented on #99
@0crat status

[2019-10-29 18:27] 0crat commented on #99
@g4s8 This is what I know about this job in [C63314D6Z](https://www.0crat.com/p/C63314D6Z), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#99](https://github.com/yegor256/cactoos-http/issues/99) is [in scope](http://www.zerocracy.com/policy.html#14) for 8days
  * The role is `DEV`
  * The job is assigned to @iakunin[/z](https://www.0crat.com/u/iakunin) for [8days](http://www.

[2019-11-08 06:09] iakunin commented on #99
@0crat wait for #100 to be merged

[2019-11-08 06:09] iakunin commented on #99
@0crat status

[2019-11-08 06:10] 0crat commented on #99
@iakunin Job [#99](https://github.com/yegor256/cactoos-http/issues/99) is already on hold

[2019-11-08 06:10] 0crat commented on #99
@iakunin This is what I know about this job in [C63314D6Z](https://www.0crat.com/p/C63314D6Z), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#99](https://github.com/yegor256/cactoos-http/issues/99) is [in scope](http://www.zerocracy.com/policy.html#14) for 18days
  * The role is `DEV`
  * The job is assigned to @iakunin[/z](https://www.0crat.com/u/iakunin) for [17days](http:/

[2019-11-08 21:19] #99 closed

[2019-11-08 21:19] 0pdd commented on #99
The puzzle `87-6a44baaf` has disappeared from the source code, that's why I closed this issue.

[2019-11-08 21:19] 0pdd commented on #62
@llorllale 2 puzzles [#81](https://github.com/yegor256/cactoos-http/issues/81), [#98](https://github.com/yegor256/cactoos-http/issues/98) are still not solved; solved: [#63](https://github.com/yegor256/cactoos-http/issues/63), [#64](https://github.com/yegor256/cactoos-http/issues/64), [#78](https://github.com/yegor256/cactoos-http/issues/78), [#80](https://github.com/yegor256/cactoos-http/issues/8

[2019-11-08 21:19] 0pdd commented on #63
@0pdd the puzzle [#98](https://github.com/yegor256/cactoos-http/issues/98) is still not solved; solved: [#78](https://github.com/yegor256/cactoos-http/issues/78), [#87](https://github.com/yegor256/cactoos-http/issues/87), [#99](https://github.com/yegor256/cactoos-http/issues/99).

[2019-11-08 21:19] 0pdd commented on #78
@0pdd the puzzle [#98](https://github.com/yegor256/cactoos-http/issues/98) is still not solved; solved: [#87](https://github.com/yegor256/cactoos-http/issues/87), [#99](https://github.com/yegor256/cactoos-http/issues/99).

[2019-11-08 21:19] 0pdd commented on #87
@0pdd the puzzle [#98](https://github.com/yegor256/cactoos-http/issues/98) is still not solved; solved: [#99](https://github.com/yegor256/cactoos-http/issues/99).

[2019-11-08 21:55] 0crat commented on #99
The job [#99](https://github.com/yegor256/cactoos-http/issues/99) is now out of scope

[2019-11-08 21:56] 0crat commented on #99
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @iakunin[/z](https://www.0crat.com/u/iakunin), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-11-09 07:15] sereshqua commented on #99
@iakunin please make sure you start all the comments with the name of the user they are addressed to, [see](https://github.com/yegor256/cactoos-http/issues/99#issuecomment-545396144)

[2019-11-09 07:23] iakunin commented on #99
@sereshqua could you specify which particular comment I should’ve started with the name of the user?

If you’re mean the https://github.com/yegor256/cactoos-http/issues/99#issuecomment-545396144
this comment addressed to 0crat. And that’s my bad, that I didn’t start it with the name of the user. But the next comment is pretty correct: https://github.com/yegor256/cactoos-http/issues/99#issuecomment

[2019-11-09 07:30] sereshqua commented on #99
@iakunin i gave you the link in my previous comment, you need to start ALL the comment with the name of the user they are addressed to

Policy:

[2019-11-09 07:47] iakunin commented on #99
@sereshqua got it, thank you. Next time I’ll pay attention to it

[2019-11-09 08:18] sereshqua commented on #99
@0crat quality acceptable

[2019-11-09 08:25] 0crat commented on #99
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-11-09 08:25] 0crat commented on #99
Order was finished, quality is "acceptable": +30 point(s) just awarded to @iakunin[/z](https://www.0crat.com/u/iakunin)

[2019-11-09 10:45] iakunin commented on #98
@0crat wait for https://github.com/yegor256/cactoos-http/pull/101 to be merged

[2019-11-09 10:46] 0crat commented on #98
@iakunin Job [#98](https://github.com/yegor256/cactoos-http/issues/98) is already on hold

[2019-11-12 19:53] #98 closed

[2019-11-12 19:53] 0pdd commented on #98
The puzzle `87-b84e58fc` has disappeared from the source code, that's why I closed this issue.

[2019-11-12 19:53] 0pdd commented on #62
@llorllale the puzzle [#81](https://github.com/yegor256/cactoos-http/issues/81) is still not solved; solved: [#63](https://github.com/yegor256/cactoos-http/issues/63), [#64](https://github.com/yegor256/cactoos-http/issues/64), [#78](https://github.com/yegor256/cactoos-http/issues/78), [#80](https://github.com/yegor256/cactoos-http/issues/80), [#87](https://github.com/yegor256/cactoos-http/issues/8

[2019-11-12 19:53] 0pdd commented on #63
@0pdd all 4 puzzles are solved here: [#78](https://github.com/yegor256/cactoos-http/issues/78), [#87](https://github.com/yegor256/cactoos-http/issues/87), [#98](https://github.com/yegor256/cactoos-http/issues/98), [#99](https://github.com/yegor256/cactoos-http/issues/99).

[2019-11-12 19:53] 0pdd commented on #78
@0pdd all 3 puzzles are solved here: [#87](https://github.com/yegor256/cactoos-http/issues/87), [#98](https://github.com/yegor256/cactoos-http/issues/98), [#99](https://github.com/yegor256/cactoos-http/issues/99).

[2019-11-12 19:53] 0pdd commented on #87
@0pdd all 2 puzzles are solved here: [#98](https://github.com/yegor256/cactoos-http/issues/98), [#99](https://github.com/yegor256/cactoos-http/issues/99).

[2019-11-12 20:16] 0crat commented on #98
The job [#98](https://github.com/yegor256/cactoos-http/issues/98) is now out of scope

[2019-11-12 20:17] 0crat commented on #98
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @iakunin[/z](https://www.0crat.com/u/iakunin), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-11-12 20:36] sereshqua commented on #98
@0crat quality good

[2019-11-12 20:46] 0crat commented on #98
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-11-12 20:49] 0crat commented on #98
Order was finished, quality is "good": +35 point(s) just awarded to @iakunin[/z](https://www.0crat.com/u/iakunin)

[2020-01-10 14:30] 0crat commented on #94
The job [#94](https://github.com/yegor256/cactoos-http/issues/94) assigned to @roman-kuvaldin[/z](https://www.0crat.com/u/roman-kuvaldin), here is [why](https://www.0crat.com/footprint/C63314D6Z/7655ad19-ed3f-4986-b1ac-35651d9c57b1); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2020-07-05 14:02] 0crat commented on #90
The architect of the project has changed; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is not at this role anymore; @victornoel[/z](https://www.0crat.com/u/victornoel) is the architect now

[2020-07-05 14:02] 0crat commented on #2
The architect of the project has changed; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is not at this role anymore; @victornoel[/z](https://www.0crat.com/u/victornoel) is the architect now

[2020-07-05 14:03] 0crat commented on #46
The architect of the project has changed; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is not at this role anymore; @victornoel[/z](https://www.0crat.com/u/victornoel) is the architect now

[2020-07-05 14:06] 0crat commented on #61
The architect of the project has changed; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is not at this role anymore; @victornoel[/z](https://www.0crat.com/u/victornoel) is the architect now

[2020-07-05 14:08] 0crat commented on #81
The architect of the project has changed; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is not at this role anymore; @victornoel[/z](https://www.0crat.com/u/victornoel) is the architect now

[2020-07-05 14:08] 0crat commented on #94
The architect of the project has changed; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is not at this role anymore; @victornoel[/z](https://www.0crat.com/u/victornoel) is the architect now

[2020-07-05 14:24] victornoel commented on #90
@0crat status

[2020-07-05 14:24] 0crat commented on #90
I'm not managing `yegor256/cactoos-http` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-07-05 15:00] victornoel commented on #94
@0crat in

[2020-07-05 15:01] 0crat commented on #94
I'm not managing `yegor256/cactoos-http` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2021-09-06 12:22] JiJogbf opened #103 "GET Request example not work in Kotlin"
I try use GET request example as presented in `readme.md` at section `Hot to use it`

Im creating simple console application in lates Intelij IDEA, adding gradle dependency like this

[code]

then in main function i wrote this

[code]

If this code not suppose to work, tell me please how i should make simple GET request.

[2022-11-05 04:05] renovate[bot] opened #107 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/yegor256/cactoos-http).

## Config Migration Needed

 - [ ]  Select this checkbox to let Renovate create an automated Config Migration PR.

## Depre